@{
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}

<head>
    <style>
        tfoot input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }
    </style>
</head>

<br />

<div id="MainDiv">

    <ul id="MainContextMenu" class="dropdown-menu" role="menu" style="display:none">
        <li id="CDelete"><a tabindex="-1" href="#">Delete</a></li>
        <li id="CApprove"><a tabindex="-1" href="#">Approve</a></li>
        <li id="CUnapprove"><a tabindex="-1" href="#">Unapprove</a></li>
    </ul>

    <input type="checkbox" id="hidden" value="option1" style="display:none;">

    <div class="text-left">
        <button href="" id="FabricSelection" class="btn-info sm-4">
            Select Fabric
        </button>
    </div>

    <div class="modal fade" id="modalFabricSelection" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Select Fabric</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">Searching Criteria</div>
                                <div class="panel-body">
                                    <div class=" form-group">
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="BarCodeSL" class="control-label" style="width:35%;">BarCode</label>
                                            <div style="display: inline;">
                                                <input type="number" class=" form-control" style="width:60%;" id="BarCodeSL" min="0" step="1" data-bind="value:BarCodeSL" placeholder="Bar Code" autofocus>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="BuyerSL" class="control-label" style="width:35%;">Buyer</label>
                                            <div style=" display: inline;">
                                                <select name="BuyerSL" id="BuyerSL" style="width:60%;font-size: 12px;" class="form-control" autofocus></select>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="FabricSL" class="control-label" style="width:35%;">Fabric</label>
                                            <div style="display: inline;">
                                                <select name="FabricSL" id="FabricSL" style="width:60%;font-size: 12px;" class="form-control" autofocus></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" form-group">
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="CompositionSL" class="control-label" style="width:35%;">Composition</label>
                                            <div style="display: inline;">
                                                <select name="CompositionSL" id="CompositionSL" style="width:60%;font-size: 12px;" class="form-control" autofocus></select>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 form-inline ">
                                            <label for="OrderNoSL" class="control-label" style="width:35%;">Order No</label>
                                            <div style="display: inline;">
                                                <input type="text" class=" form-control" style="width:60%;" id="OrderNoSL" placeholder="Order No" autofocus>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="RefNoSL" class="control-label" style="width:35%;">RefNo</label>
                                            <div style="display: inline;">
                                                <input type="text" class=" form-control" style="width:60%;" id="RefNoSL" placeholder="Ref No" autofocus>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" form-group">
                                        <div class="form-group col-xs-4 form-inline">
                                            <button class="btn btn-warning btn-sm" style="width:35%;" id="resetFabricBtn">Reset</button>
                                            <div style="display: inline;">
                                                <button type="submit" id="searchFabricBtn" class="btn btn-primary btn-sm" style="width:60%;">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table id="fabricSelectionTable" class="display nowrap stripe hover order-column" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Id</th>
                                        <th>BarCode</th>
                                        <th>BuyerName</th>
                                        <th>FabricType</th>
                                        <th>Composition</th>
                                        <th>OrderNo</th>
                                        <th>RefNo</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" id="okayBtn" class="btn btn-success">Okay</button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default ">
        <div class="panel-heading">
            <h5 class="panel-title"><i class="icon-stack-plus position-left"></i>Create Peach Order</h5>
        </div>
        <div class="panel-body">
            <form id="PeachForm">
                <div class=" form-group">
                    <div class="form-group col-xs-4 form-inline">
                        <label for="BarCode" class="control-label required" style="width:35%;">BarCode</label>
                        <div style=" display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="BarCode" required readonly>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="BuyerName" class="control-label required" style="width:35%;">Buyer</label>
                        <div style=" display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="BuyerName" required readonly>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="FabricTypeName" class="control-label required" style="width:35%;">Fabric</label>
                        <div style=" display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="FabricTypeName" required readonly>
                        </div>
                    </div>
                </div>
                <div class=" form-group">
                    <div class="form-group col-xs-4 form-inline">
                        <label for="Composition" class="control-label required" style="width:35%;">Composition</label>
                        <div style=" display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="Composition" required readonly>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="OrderNo" class="control-label required" style="width:35%;">OrderNo</label>
                        <div style="display: inline;">
                            <input type="text" class=" form-control" style="width:60%;" id="OrderNo" placeholder="Order No" readonly required>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="RefNo" class="control-label required" style="width:35%;">RefNo</label>
                        <div style="display: inline;">
                            <input type="text" class=" form-control" style="width:60%;" id="RefNo" placeholder="Ref No" readonly required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group col-xs-4 form-inline">
                        <label for="Taker" class="control-label required" style="width:35%;">Taker</label>
                        <div style="display: inline;">
                            <input type="text" class=" form-control" style="width:60%;" id="Taker" placeholder="Taker - IN(m/min)" required autofocus>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="Plaiter" class="control-label required" style="width:35%;">Plaiter</label>
                        <div style="display: inline;">
                            <input type="text" class=" form-control" style="width:60%;" id="Plaiter" placeholder="Plaiter(m/min)" required autofocus>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="Return" class="control-label required" style="width:35%;">Return</label>
                        <div style="display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="Return" placeholder="F/Return" required autofocus>
                        </div>
                    </div>
                </div>
                <div class=" form-group">
                    <div class="form-group col-xs-4 form-inline">
                        <label for="Tension" class="control-label required" style="width:35%;">Tension</label>
                        <div style="display: inline;">
                            <input type="text" class=" form-control" style="width:60%;" id="Tension" placeholder="D.Tension(kg)" required autofocus>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="RPM" class="control-label required" style="width:35%;">RPM</label>
                        <div style="display: inline;">
                            <input type="text" class=" form-control" style="width:60%;" id="RPM" placeholder="D.RPM" autofocus>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="Brush" class="control-label required" style="width:35%;">Brush</label>
                        <div style="display: inline;">
                            <input type="text" class=" form-control" style="width:60%;" id="RPM" placeholder="D.Brush" required autofocus>
                        </div>
                    </div>
                </div>
                <div class=" form-group">
                    <div class="form-group col-xs-4 form-inline">
                        <label for="Speed" class="control-label required" style="width:35%;">Speed</label>
                        <div style="display: inline;">
                            <input type="text" class=" form-control" style="width:60%;" id="Speed" placeholder="Speed(m/min)" required autofocus>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="Dia" class="control-label required" style="width:35%;">Dia</label>
                        <div style="display: inline;">
                            <input type="text" class=" form-control" style="width:60%;" id="Dia" placeholder="Dia(Inch)" required autofocus>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="GSM" class="control-label required" style="width:35%;">GSM</label>
                        <div style="display: inline;">
                            <input type="text" class=" form-control" style="width:60%;" id="GSM" placeholder="GSM" required autofocus>
                        </div>
                    </div>
                </div>
                <div class=" form-group">
                    <div class="form-group col-xs-4 form-inline">
                        <label for="Remarks" class="control-label" style="width:35%;">Remarks</label>
                        <div style="display: inline;">
                            <input type="text" class=" form-control" style="width:60%;" id="Remarks" placeholder="Remarks" autofocus>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="ReviseStatus" class="control-label" style="        width: 35%;">Revise Status</label>
                        <div style="        display: inline;">
                            <input type="text" class=" form-control" style="        width: 60%;" id="ReviseStatus" readonly>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <button class="btn btn-warning btn-sm" style="width:25%;" id="resetBtn">Reset</button>
                        <div style="display: inline;">
                            <input type="submit" value="Save" class="btn btn-success btn-sm" style="width:22%;" id="saveBtn">
                        </div>
                        <div style="display: inline;">
                            <input type="submit" value="Revise" class="btn btn-info btn-sm" disabled="disabled" style="width:23%;" id="reviseBtn">
                        </div>
                        <div style="display: inline;">
                            <input type="submit" value="Update" class="btn btn-primary btn-sm" disabled="disabled" style="width:23%;" id="updateBtn">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <p id="ProcessString" class="text-uppercase text-primary" style="font-weight:bold"></p>

    <table id="Peachtable" class="display nowrap stripe hover order-column " style="width: 200px;">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>FabricID</th>
                <th>ProcessString</th>
                <th>ProcessText</th>
                <th>ColorString</th>
                <th>BarCode</th>
                <th>Buyer</th>
                <th>Fabric</th>
                <th>Composition</th>
                <th>OrderNo</th>
                <th>RefNo</th>
                <th>Taker</th>
                <th>Plaiter</th>
                <th>Return</th>
                <th>Tension</th>
                <th>RPM</th>
                <th>Brush</th>
                <th>Speed</th>
                <th>Dia</th>
                <th>GSM</th>
                <th>Remarks</th>
                <th>Revise</th>
                <th>Aprroved</th>
                <th>Create Time</th>
                <th>Create By</th>
                <th>Update Time</th>
                <th>Update By</th>
                <th>Approved Time</th>
                <th>Approved By</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th style="visibility:hidden;"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>BarCode</th>
                <th>Buyer</th>
                <th>Fabric</th>
                <th>Composition</th>
                <th>OrderNo</th>
                <th>RefNo</th>
                <th>Taker</th>
                <th>Plaiter</th>
                <th>Return</th>
                <th>Tension</th>
                <th>RPM</th>
                <th>Brush</th>
                <th>Speed</th>
                <th>Dia</th>
                <th>GSM</th>
                <th>Remarks</th>
                <th>Revise</th>
                <th>Aprroved</th>
                <th>Create Time</th>
                <th>Create By</th>
                <th>Update Time</th>
                <th>Update By</th>
                <th>Approved Time</th>
                <th>Approved By</th>
            </tr>
        </tfoot>
    </table>

    <div class="footer-w3l">
        <div class="content">
            <img src='../Content/images/logo.png'>
            <p class="foot">2019 © URMI IT Department. All rights reserved.</p>
        </div>
    </div>

</div>

<script>

    $(document).ready(function () {

        var selectedFabricRowId = 0;
        var fabricSelectionTable = $('#fabricSelectionTable').DataTable();

        (function ($, window) {

            $.fn.contextMenu = function (settings) {

                return this.each(function () {

                    // Open context menu
                    $(this).on("contextmenu", function (e) {
                        debugger;
                        // return native menu if pressing control
                        if (e.ctrlKey) return;

                        if ($('#Peachtable tbody tr').hasClass('selected') == false) return;

                        //open menu
                        var $menu = $(settings.menuSelector)
                            .data("invokedOn", $(e.target))
                            .show()
                            .css({
                                position: "absolute",
                                left: getMenuPosition(e.clientX, 'width', 'scrollLeft'),
                                top: getMenuPosition(e.clientY, 'height', 'scrollTop')
                            })
                            .off('click')
                            .on('click', 'a', function (e) {
                                $menu.hide();
                                var $invokedOn = $menu.data("invokedOn");
                                var $selectedMenu = $(e.target);

                                settings.menuSelected.call(this, $invokedOn, $selectedMenu);
                            });

                        return false;
                    });

                    //make sure menu closes on any click
                    $('body').click(function () {
                        $(settings.menuSelector).hide();
                    });
                });

                function getMenuPosition(mouse, direction, scrollDir) {
                    var win = $(window)[direction](),
                        scroll = $(window)[scrollDir](),
                        menu = $(settings.menuSelector)[direction](),
                        position = mouse + scroll;

                    // opening menu would pass the side of the page
                    if (mouse + menu > win && menu < mouse)
                        position -= menu;

                    return position;
                }

            };
        })(jQuery, window);

        $('html').bind('keypress', function (e) {
            if (e.keyCode == 13) {
                return false;
            }
        });

        SetRoles();

        function SetRoles() {
            debugger;

            var user = {
                Name: "Peach"
            }

            $.ajax({
                type: "POST",
                url: "/UserManagement/GetRoles",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(user),
                success: function (response) {
                    debugger;
                    if (response != "" && response != null) {
                        debugger
                        if (response.RolePermissionID == 0) {
                            if (response.Crud == 0) {
                                $('#saveBtn').hide();
                                $('#reviseBtn').hide();
                                $('#updateBtn').hide();
                                $('#CDelete a').addClass('disabled');
                            }
                            if (response.Approval == 0) {
                                $('#CApprove a').addClass('disabled');
                                $('#CUnapprove a').addClass('disabled');
                            }
                        }
                    }
                    else {
                        alert("Connection Error!!!");
                        return;
                    }
                    loadBuyerList();
                },
                failure: function () {
                    $("#tblItems").append(" Error when fetching data please contact administrator");
                }
            });
        }

        function loadBuyerList() {
            debugger;
            $.ajax({
                type: "GET",
                url: "/Fabric/GetBuyerList",
                data: "{}",
                success: function (data) {
                    var data = data.data;
                    var s = '<option value="">Select Buyer</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].Id + '">' + data[i].BuyerName + '</option>';
                    }
                    $("#BuyerSL").html(s);
                    loadFabricTypeList();
                }
            });
        }

        function loadFabricTypeList() {
            debugger;
            $.ajax({
                type: "GET",
                url: "/Fabric/GetFabricTypeList",
                data: "{}",
                success: function (data) {
                    var data = data.data;
                    var s = '<option value="">Select Fabric</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].Id + '">' + data[i].FabricTypeName + '</option>';
                    }
                    $("#FabricSL").html(s);
                    loadCompositionList();
                }
            });
        }

        function loadCompositionList() {
            debugger;
            $.ajax({
                type: "GET",
                url: "/Knitting/GetCompositionTypeList",
                data: "{}",
                success: function (data) {
                    var data = data.data;
                    var s = '<option value="">Select Composition</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].Id + '">' + data[i].Composition + '</option>';
                    }
                    $("#CompositionSL").html(s);
                }
            });
        }

        $('#Peachtable tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Search" />');
        });

        var Peachtable = $('#Peachtable').DataTable({
            dom: 'Bfrtip',
            buttons: [],
            "processing": true,
            "ajax":
            {
                "url": "/Peach/GetData",
                "type": "GET",
                "dataType": "JSON"
            },
            "pageLength": 25,
            "autoWidth": false,
            "scrollY": '20vh',
            "scrollX": true,
            "Sorting": true,
            "searching": true,
            "destroy": true,
            "select": {
                style: 'single'
            },
            "columnDefs": [
                {
                    "targets": [0],
                    "searchable": false,
                    "orderable": false,
                },
                {
                    "targets": [1, 2, 3, 4, 5],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": "_all",
                    "width": "100px"
                }

            ],

            "columns": [
                {
                    "searchable": false,
                    "render": function (data, type, full, meta) {
                        return Peachtable.data().count();
                    }
                },
                { "data": "Id" },
                { "data": "fabric.Id" },
                { "data": "fabric.ProcessString" },
                { "data": "fabric.ProcessText" },
                { "data": "fabric.ColorString" },
                { "data": "fabric.BarCode" },
                { "data": "fabric.buyer.BuyerName" },
                { "data": "fabric.fb.FabricTypeName" },
                { "data": "fabric.cm.Composition" },
                { "data": "fabric.OrderNo" },
                { "data": "fabric.RefNo" },
                { "data": "Taker" },
                { "data": "Plaiter" },
                { "data": "Return" },
                { "data": "Tension" },
                { "data": "RPM" },
                { "data": "Brush" },
                { "data": "Speed" },
                { "data": "Dia" },
                { "data": "GSM" },
                { "data": "Remarks" },
                { "data": "ReviseStatus" },
                { "data": "ApprovedStatus" },
                {
                    data: "CreateTime",
                    render: function (data, type, row) {
                        return moment(data).format("DD/MM/YYYY h:mm a");
                    }
                },
                { "data": "CreateByName" },
                {
                    data: "UpdateTime",
                    render: function (data, type, row) {
                        if (data != null)
                            return moment(data).format("DD/MM/YYYY h:mm a");
                        else
                            return "N/A"
                    }
                },
                {
                    "data": "UpdateByName",
                    render: function (data, type, row) {
                        if (data != "")
                            return data;
                        else
                            return "N/A"
                    }
                },
                {
                    data: "ApprovedTime",
                    render: function (data, type, row) {
                        if (data != null)
                            return moment(data).format("DD/MM/YYYY h:mm a");
                        else
                            return "N/A"
                    }
                },
                {
                    "data": "ApprovedByName",
                    render: function (data, type, row) {
                        if (data != "")
                            return data;
                        else
                            return "N/A"
                    }
                }
            ]
        });

        Peachtable.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change clear', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });

        $('#fabricSelectionTable tbody').on('click', 'tr', function () {
            event.preventDefault();
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                fabricSelectionTable.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

        $('#Peachtable tbody').on('click', 'tr', function () {

            if ((Peachtable.data().any())) {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                    Reset();
                }
                else {
                    Peachtable.$('tr.selected').removeClass('selected');
                    Reset();
                    $(this).addClass('selected');
                    var rowdata = Peachtable.row(this).data();
                    if (rowdata.ProcessString != "") {
                        var res = "";
                        var split_ProcessString = rowdata.fabric.ProcessString.split(",");
                        var split_ProcessText = rowdata.fabric.ProcessText.split("->");
                        var split_ColorString = rowdata.fabric.ColorString.split(",");

                        for (var i = 0; i < split_ProcessString.length; i++) {
                            if (split_ColorString[i] == "0") {
                                if (res == "")
                                    res += "<span class='blue'>" + split_ProcessText[i] + "</span>";
                                else
                                    res += "<span class='blue'>->" + split_ProcessText[i] + "</span>";
                            }
                            else {
                                if (res == "")
                                    res += "<span class='green'>" + split_ProcessText[i] + "</span>";
                                else
                                    res += "<span class='green'>->" + split_ProcessText[i] + "</span>";
                            }
                        }

                        $('#ProcessString').html(res);
                    }
                    if (rowdata.ApprovedStatus == 0) {
                        Setvalue(rowdata);
                        $('#saveBtn').prop("disabled", true);
                        $('#updateBtn').prop("disabled", false);
                        $('#reviseBtn').prop("disabled", false);
                    }
                }
            }
        });

        $("#searchFabricBtn").click(function () {
            event.preventDefault();

            debugger;
            if (ValidateFabricForm() == true) {

                var buyer = {
                    Id: $("#BuyerSL option:selected").val()
                }
                var fb = {
                    Id: $("#FabricSL option:selected").val()
                }
                var cm = {
                    Id: $("#CompositionSL option:selected").val()
                }

                var fabricSearchObj = {
                    BarCode: $("#BarCodeSL").val().toString(),
                    buyer: buyer,
                    fb: fb,
                    cm: cm,
                    OrderNo: $("#OrderNoSL").val().length > 0 ? $("#OrderNoSL").val().toString() : '',
                    RefNo: $("#RefNoSL").val().length > 0 ? $("#RefNoSL").val().toString() : '',
                    Note: "Peach"
                };

                $.ajax({
                    type: "POST",
                    url: "/Fabric/FabricSearch",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(fabricSearchObj),
                    success: function (response) {
                        if (response != "" && response != null) {
                            fabricSelectionTable.clear().draw();
                            fabricSelectionTable.rows.add(response).draw();
                        }
                        else {
                            alert("Failed to Search!!! No Data Found!!!");
                            return;
                        }
                    },
                    failure: function () {
                        $("#tblItems").append(" Error when fetching data please contact administrator");
                    }
                });
            }
            else {
                alert("Please Select Atleast One Searching Criteria!!!");
                return;
            }

        });

        $("#FabricSelection").click(function () {
            event.preventDefault();
            $("#modalFabricSelection").modal('show');
            selectedFabricRowId = 0; ResetFabric(); fabricSelectionTable.clear().draw();

            loadBuyerList();

            fabricSelectionTable = $('#fabricSelectionTable').DataTable({
                buttons: [],
                "scrollY": true,
                "scrollX": true,
                "Sorting": true,
                "searching": true,
                "autoWidth": false,
                "select": {
                    style: 'single'
                },
                "destroy": true,
                "columnDefs": [
                    {
                        "targets": [0],
                        "searchable": false,
                        "orderable": false,
                        "visible": false
                    },
                ],
                "columns": [
                    {
                        "searchable": false,
                        "render": function (data, type, full, meta) {
                            return fabricSelectionTable.data().count();
                        }
                    },
                    {
                        "searchable": false,
                        "visible": false,
                        "data": "Id"
                    },
                    { "data": "BarCode" },
                    { "data": "buyer.BuyerName" },
                    { "data": "fb.FabricTypeName" },
                    { "data": "cm.Composition" },
                    { "data": "OrderNo" },
                    { "data": "RefNo" }
                ]
            });

        });

        $("#resetFabricBtn").click(function () {
            ResetFabric();
        });

        $("#okayBtn").click(function () {
            event.preventDefault();
            debugger
            if ($('#fabricSelectionTable tbody tr').hasClass('selected')) {
                selectedFabricRowId = fabricSelectionTable.rows('.selected').data()[0].Id;
                $('#BarCode').val(fabricSelectionTable.rows('.selected').data()[0].BarCode);
                $('#BuyerName').val(fabricSelectionTable.rows('.selected').data()[0].buyer.BuyerName);
                $('#FabricTypeName').val(fabricSelectionTable.rows('.selected').data()[0].fb.FabricTypeName);
                $('#Composition').val(fabricSelectionTable.rows('.selected').data()[0].cm.Composition);
                $('#OrderNo').val(fabricSelectionTable.rows('.selected').data()[0].OrderNo);
                $('#RefNo').val(fabricSelectionTable.rows('.selected').data()[0].RefNo);
                $("#modalFabricSelection .close").click();
                $('#hidden').prop('checked', true);
            }
            else {
                alert('Please Select A Row.')
                return;
            }

        });

        $('#PeachForm').submit(function (e) {
            event.preventDefault();

            var fabric = {
                Id: selectedFabricRowId,
                BarCode: $("#BarCode").val()
            }

            debugger;
            if ($('#hidden').is(':checked') == true) {
                var Obj =
                {
                    Id: '0',
                    fabric: fabric,
                    Taker: $("#Taker").val(),
                    Plaiter: $("#Plaiter").val(),
                    Return: $("#Return").val(),
                    Tension: $("#Tension").val(),
                    RPM: $("#RPM").val(),
                    Brush: $("#Brush ").val(),
                    Speed: $("#Speed ").val(),
                    Dia: $("#Dia").val(),
                    GSM: $("#GSM").val(),
                    Remarks: $("#Remarks ").val()
                };
                $.ajax({
                    type: "POST",
                    url: "/Peach/CRUD",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(Obj),
                    success: function (response) {
                        debugger
                        if (response.data != "" && response.data != null) {
                            Peachtable.row.add(response.data).draw();
                            Reset();
                        }
                        else {
                            alert("Failed to Save!!!");
                            return;
                        }
                    },
                    failure: function () {
                        $("#tblItems").append(" Error when fetching data please contact administrator");
                    }
                });
            }
            else {
                alert("Please Select Fabric!!!");
                return;
            }
        });

        $("#updateBtn").click(function () {
            event.preventDefault();

            if ($('#Peachtable tbody tr').hasClass('selected')) {
                debugger
                var Row = Peachtable.rows('.selected').data()[0];
                var index = Peachtable.row('.selected').index();

                var fabric = {
                    Id: Row.fabric.Id,
                    BarCode: $("#BarCode").val()
                }

                var Obj =
                {
                    Id: Row.Id,
                    fabric: fabric,
                    Taker: $("#Taker").val(),
                    Plaiter: $("#Plaiter").val(),
                    Return: $("#Return").val(),
                    Tension: $("#Tension").val(),
                    RPM: $("#RPM").val(),
                    Brush: $("#Brush ").val(),
                    Speed: $("#Speed ").val(),
                    Dia: $("#Dia").val(),
                    GSM: $("#GSM").val(),
                    Remarks: $("#Remarks ").val()
                };

                $.ajax({
                    type: "POST",
                    url: "/Peach/CRUD",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(Obj),
                    success: function (response) {
                        debugger
                        if (response.data != "" && response.data != null) {
                            debugger
                            Peachtable.row(index).data(response.data).draw();
                            Reset();
                        }
                        else {
                            alert("Failed to Update!!!");
                            return;
                        }
                    },
                    failure: function () {
                        $("#tblItems").append(" Error when fetching data please contact administrator");
                    }
                });

            }
            else {
                alert("Please Select A Row!!!");
                return;
            }
        });

        $("#reviseBtn").click(function () {
            event.preventDefault();

            if ($('#Peachtable tbody tr').hasClass('selected')) {
                debugger
                var Row = Peachtable.rows('.selected').data()[0];

                var fabric = {
                    Id: Row.fabric.Id,
                    BarCode: $("#BarCode").val()
                }

                var Obj =
                {
                    Id: Row.Id,
                    fabric: fabric,
                    Taker: $("#Taker").val(),
                    Plaiter: $("#Plaiter").val(),
                    Return: $("#Return").val(),
                    Tension: $("#Tension").val(),
                    RPM: $("#RPM").val(),
                    Brush: $("#Brush ").val(),
                    Speed: $("#Speed ").val(),
                    Dia: $("#Dia").val(),
                    GSM: $("#GSM").val(),
                    Remarks: $("#Remarks ").val()
                };

                $.ajax({
                    type: "POST",
                    url: "/Peach/Revise",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(Obj),
                    success: function (response) {
                        debugger
                        if (response.data != "" && response.data != null) {
                            debugger
                            Peachtable.row.add(response.data).draw();
                            Reset();
                        }
                        else {
                            alert("Failed to Revise!!!");
                            return;
                        }
                    },
                    failure: function () {
                        $("#tblItems").append(" Error when fetching data please contact administrator");
                    }
                });

            }
            else {
                alert("Please Select A Row!!!");
                return;
            }


        });

        $("#resetBtn").click(function () {
            Reset();
        });

        $("#Peachtable tbody").contextMenu({
            menuSelector: "#MainContextMenu",
            menuSelected: function (invokedOn, selectedMenu) {
                debugger;

                var ApprovedStatus = Peachtable.rows('.selected').data()[0].ApprovedStatus;
                if (ApprovedStatus == 0) {
                    if (selectedMenu.text() == "Delete")
                        DeleteRow();
                    if (selectedMenu.text() == "Approve") {

                        var BarCode = Peachtable.rows('.selected').data()[0].fabric.BarCode;
                        var rows = Peachtable.rows(function (idx, data, node) {
                            return data.fabric.BarCode === BarCode && data.ApprovedStatus == 1 ?
                                true : false;
                        }).data();

                        if (rows.length == 0) {
                            ApproveRow();
                        }
                        else {
                            alert("The order with same BarCode is already approved!!!")
                        }

                    }
                    if (selectedMenu.text() == "Unapprove")
                        alert("This order is not approved yet!!!")
                }
                else {
                    if (selectedMenu.text() == "Unapprove") {
                        UnapproveRow();
                    }
                    else {
                        alert("This order is already approved!!!");
                        return;
                    }
                }
            }
        });

        function DeleteRow() {
            event.preventDefault();
            var Id = Peachtable.rows('.selected').data()[0].Id;

            $.ajax({
                type: "POST",
                url: "/Peach/Delete",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({ "Id": Id }),
                success: function (response) {
                    debugger
                    if (response = "Success") {
                        Peachtable.row('.selected').remove().draw(false);
                        Reset();
                    }
                    else {
                        alert("Failed to Delete!!!");
                        return;
                    }
                },
                failure: function () {
                    $("#tblItems").append(" Error when fetching data please contact administrator");
                }
            });
        };

        function ApproveRow() {
            debugger
            event.preventDefault();

            var Row = Peachtable.rows('.selected').data()[0];
            var index = Peachtable.row('.selected').index();

            var Obj =
            {
                Id: Row.Id,
                ApprovedTime: moment(Date.now()).format("YYYY/MM/DD h:mm a"),
            };

            $.ajax({
                type: "POST",
                url: "/Fabric/GetApprovedStatus",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({ "BarCode": Row.fabric.BarCode, "tableName": "Peach" }),
                success: function (response) {
                    debugger
                    if (response == true) {

                        $.ajax({
                            type: "POST",
                            url: "/Peach/Approve",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data: JSON.stringify(Obj),
                            success: function (response) {
                                debugger
                                if (response.data != "" && response.data != null) {
                                    debugger
                                    Peachtable.row(index).data(response.data).draw();
                                    Reset();
                                }
                                else {
                                    alert("Failed to Approve!!!");
                                    return;
                                }
                            },
                            failure: function () {
                                $("#tblItems").append(" Error when fetching data please contact administrator");
                            }
                        });

                    }
                    else {
                        alert("This Order is not approved in previous process!!!");
                        return;
                    }
                },
                failure: function () {
                    $("#tblItems").append(" Error when fetching data please contact administrator");
                }
            });


        }

        function UnapproveRow() {
            debugger
            event.preventDefault();

            var Row = Peachtable.rows('.selected').data()[0];
            var index = Peachtable.row('.selected').index();

            var Obj =
            {
                Id: Row.Id,
                ApprovedTime: moment(Date.now()).format("YYYY/MM/DD h:mm a"),
            };

            $.ajax({
                type: "POST",
                url: "/Fabric/GetUnApprovedStatus",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({ "BarCode": Row.fabric.BarCode, "tableName": "Peach" }),
                success: function (response) {
                    debugger
                    if (response == true) {
                        $.ajax({
                            type: "POST",
                            url: "/Peach/Unapprove",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data: JSON.stringify(Obj),
                            success: function (response) {
                                debugger
                                if (response.data != "" && response.data != null) {
                                    debugger
                                    Peachtable.row(index).data(response.data).draw();
                                    Reset();
                                }
                                else {
                                    alert("Failed to Unapprove!!!");
                                    return;
                                }
                            },
                            failure: function () {
                                $("#tblItems").append(" Error when fetching data please contact administrator");
                            }
                        });
                    }
                    else {
                        alert("This Order is already approved in next process!!!");
                        return;
                    }
                },
                failure: function () {
                    $("#tblItems").append(" Error when fetching data please contact administrator");
                }
            });


        }

        function ValidateFabricForm() {
            debugger;
            if ($("#BarCodeSL").val() == "" && $("#BuyerSL option:selected").val() == "" && $("#FabricSL option:selected").val() == "" && $("#CompositionSL option:selected").val() == "" && $("#OrderNoSL").val() == "" && $("#RefNoSL").val() == "") {
                return false;
            }
            else {
                return true;
            }
        }

        function Reset() {
            event.preventDefault();
            $('#Peachtable tbody tr').removeClass('selected')

            selectedFabricRowId = 0;
            $('#ProcessString').text('');
            $('#hidden').prop('checked', false);
            $('#saveBtn').prop("disabled", false);
            $('#updateBtn').prop("disabled", true);
            $('#reviseBtn').prop("disabled", true);

            $("#BarCode").val("");
            $("#BuyerName").val("");
            $("#FabricTypeName").val("");
            $("#Composition").val("");
            $("#OrderNo").val("");
            $("#RefNo").val("");

            $("#Taker").val("");
            $("#Plaiter").val("");
            $("#Return").val("");
            $("#Tension").val("");
            $("#RPM").val("");
            $("#Brush").val("");
            $("#Speed").val("");
            $("#Dia").val("");
            $("#GSM").val("");
            $("#Remarks").val("");
            $("#ReviseStatus").val("");
        }

        function ResetFabric() {
            event.preventDefault();
            $("#BarCodeSL").val("");
            $("#BuyerSL").val("");
            $("#FabricSL").val("");
            $("#CompositionSL").val("");
            $("#OrderNoSL").val("");
            $("#RefNoSL").val("");
            $('#fabricSelectionTable tbody tr').removeClass('selected');
        }

        function Setvalue(rowdata) {
            $("#BarCode").val(rowdata.fabric.BarCode);
            $("#BuyerName").val(rowdata.fabric.buyer.BuyerName);
            $("#FabricTypeName").val(rowdata.fabric.fb.FabricTypeName);
            $("#Composition").val(rowdata.fabric.cm.Composition);
            $("#OrderNo").val(rowdata.fabric.OrderNo);
            $("#RefNo").val(rowdata.fabric.RefNo);

            $("#Taker").val(rowdata.Taker);
            $("#Plaiter").val(rowdata.Plaiter);
            $("#Return").val(rowdata.Return);
            $("#Tension").val(rowdata.Tension);
            $("#RPM").val(rowdata.RPM);
            $("#Brush").val(rowdata.Brush);
            $("#Speed").val(rowdata.Speed);
            $("#Dia").val(rowdata.Dia);
            $("#GSM").val(rowdata.GSM);
            $("#Remarks").val(rowdata.Remarks);
            $("#ReviseStatus").val(rowdata.ReviseStatus);
        }

    });

</script>

