@{
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}

<head>

    <style>
        .btn {
            padding: 10px 20px;
            font-size: 15px;
            border-radius: 5px;
        }

        tfoot input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }
    </style>
</head>

<h2>Knitting Entry Form</h2>

@Html.AntiForgeryToken()
<hr />
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div id="MainDiv" class="panel panel-default ">

    <div class="modal fade" id="modalFabricSelection" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Select Fabric</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">Searching Criteria</div>
                                <div class="panel-body">
                                    <div class=" form-group">
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="BarCodeSL" class="control-label" style="width:35%;">BarCode</label>
                                            <div style="display: inline;">
                                                <input type="text" class="typeahead form-control" style="width:60%;" id="BarCodeSL" placeholder="Bar Code" required autofocus>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="BuyerSL" class="control-label" style="width:35%;">Buyer</label>
                                            <div style=" display: inline;">
                                                <select name="BuyerSL" id="BuyerSL" style="width:60%;" class="form-control input-sm" required autofocus></select>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="FabricSL" class="control-label" style="width:35%;">Fabric</label>
                                            <div style="display: inline;">
                                                <select name="FabricSL" id="FabricSL" style="width:60%;" class="form-control" required autofocus></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" form-group">
                                        <div class="form-group col-xs-4 form-inline ">
                                            <label for="OrderNoSL" class="control-label" style="width:35%;">Order No</label>
                                            <div style="display: inline;">
                                                <input type="text" class="typeahead form-control" style="width:60%;" id="OrderNoSL" placeholder="Order No" required autofocus>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="ColorSL" class="control-label" style="width:35%;">Color</label>
                                            <div style="display: inline;">
                                                <input type="text" class="typeahead form-control" style="width:60%;" id="ColorSL" placeholder="Color" required autofocus>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="ChallanSL" class="control-label" style="width:35%;">Challan No</label>
                                            <div style="display: inline;">
                                                <input type="text" class="typeahead form-control" style="width:60%;" id="ChallanSL" placeholder="Challan No" required autofocus>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" form-group">
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="DeliveryDateSL" class="control-label" style="width:35%;">Delivery Date</label>
                                            <div class='input-group date' id='DeliveryDateSL' style="width:60%;">
                                                <input type='text' class="form-control" id="DeliveryDateTextSL" placeholder="Delivey Date" required autofocus />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="FabricOrderDateSL" class="control-label" style="width:35%;">Fabric Order Date</label>
                                            <div class='input-group date' id='FabricOrderDateSL' style="width:60%;">
                                                <input type='text' class="form-control" id="FabricOrderDateTextSL" placeholder="Fabric Order Date" required autofocus />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 form-inline">
                                            <button class="btn btn-warning btn-sm" style="width:35%;" id="resetFabricBtn">Reset</button>
                                            <div style="display: inline;">
                                                <button type="submit" id="searchFabricBtn" class="btn btn-primary btn-sm" style="width:60%;">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table id="fabricSelectionTable" class="stripe hover order-column" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>BarCode</th>
                                        <th>BuyerName</th>
                                        <th>FabricType</th>
                                        <th>OrderNo</th>
                                        <th>Color</th>
                                        <th>Note</th>
                                        <th>Width</th>
                                        <th>GSM</th>
                                        <th>Status</th>
                                        <th>ChallanNo</th>
                                        <th>DeliveryQty</th>
                                        <th>DeliveryDate</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-deep-orange">Sign up</button>
                </div>
            </div>
        </div>
    </div>

    <div class="text-left">
        <a href="" id="FabricSelection" class="btn-default sm-4" data-toggle="modal" data-target="#modalFabricSelection">
            Select Fabric
        </a>
    </div>

    <form>
        <div class="panel panel-default ">
            <div class="panel-heading">
                <h5 class="panel-title"><i class="icon-stack-plus position-left"></i>Create Knitting Order</h5>
            </div>
            <div class="panel-body">
                <div class=" form-group">
                    <div class="form-group col-xs-4 form-inline">
                        <label for="FabricName" class="control-label" style="width:35%;">Fabric Type</label>
                        <div style=" display: inline;">
                            <select name="FabricName" id="FabricName" style="width:60%;" class="form-control input-sm" required autofocus></select>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="DiaGauge" class="control-label" style="width:35%;">MC Dia-Gauge</label>
                        <div style="display: inline;">
                            <select name="DiaGauge" id="DiaGauge" style="width:50%;" class="form-control input-sm" required autofocus></select>
                            <a href="#" class="btn-sm btn-info" style="width:10%;">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="YarnCount" class="control-label" style="width:35%;">Yarn Count</label>
                        <div style="display: inline;">
                            <select name="YarnCount" id="YarnCount" style="width:50%;" class="form-control input-sm" required autofocus></select>
                            <a href="#" class="btn-sm btn-info" style="width:10%;">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group col-xs-4 form-inline">
                        <label for="YarnBrand" class="control-label" style="width:35%;">Yarn Brand</label>
                        <div style="display: inline;">
                            <input type="text" class="typeahead form-control" style="width:60%;" id="YarnBrand" placeholder="Yarn Brand" required autofocus>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="Yarn Lot" class="control-label" style="width:35%;">Yarn Lot</label>
                        <div style="display: inline;">
                            <input type="text" class="typeahead form-control" style="width:60%;" id="YarnLot" placeholder="Yarn Lot">
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="StitchLength" class="control-label" style="width:35%;">Stitch Length</label>
                        <div style="display: inline;">
                            <input type="text" class="typeahead form-control" style="width:60%;" id="StitchLength" placeholder="Stitch Length" required autofocus>
                        </div>
                    </div>
                </div>
                <div class=" form-group">
                    <div class="form-group col-xs-4 form-inline">
                        <label for="KnitUnit" class="control-label" style="width:35%;">Knit Unit</label>
                        <div style="display: inline;">
                            <input type="number" class="form-control" style="width:60%;" id="KnitUnit" placeholder="Knit Unit" required autofocus>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="MCNO" class="control-label" style="width:35%;">Mc-No</label>
                        <div style="display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="MCNO" min="0" step="1" data-bind="value:MCNO" placeholder="Mc No" required autofocus>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="MCRPM" class="control-label" style="width:35%;">Mc-Rpm</label>
                        <div style="display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="MCRPM" min="0" step="1" data-bind="value:MCRPM" placeholder="Mc Rpm" required autofocus>
                        </div>
                    </div>
                </div>
                <div class=" form-group">
                    <div class="form-group col-xs-4 form-inline">
                        <label for="GreyWidth" class="control-label" style="width:35%;">Grey Width</label>
                        <div style="display: inline;">
                            <input type="number" class="form-control" style="width:60%;" id="GreyWidth" min="0" step="1" data-bind="value:GreyWidth" placeholder="Grey Width" required autofocus>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="GreyGSM" class="control-label" style="width:35%;">Grey GSM</label>
                        <div style="display: inline;">
                            <input type="number" class="form-control" style="width:60%;" id="GreyGSM" min="0" step="1" data-bind="value:GreyGSM" placeholder="Grey GSM" required autofocus>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="TumbleGSM" class="control-label" style="width:35%;">Tumble GSM</label>
                        <div style="display: inline;">
                            <input type="number" class="form-control" style="width:60%;" id="TumbleGSM" min="0" step="1" data-bind="value:TumbleGSM" placeholder="Grey GSM" required autofocus>
                        </div>
                    </div>
                </div>
                <div class=" form-group">
                    <div class="form-group col-xs-4 form-inline">
                        <label for="TumbleWidth" class="control-label" style="width:35%;">Tumble Width</label>
                        <div style="display: inline;">
                            <input type="number" class="form-control" style="width:60%;" id="TumbleWidth" min="0" step="1" data-bind="value:TumbleWidth" placeholder="Grey GSM" required autofocus>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="Brand" class="control-label" style="width:35%;">MC Brand</label>
                        <div style="display: inline;">
                            <select name="Brand" id="DiaGauge" style="width:50%;" class="form-control input-sm" required autofocus></select>
                            <a href="#" class="btn-sm btn-info" style="width:10%;">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <button class="btn btn-warning btn-sm" style="width:35%;" id="resetBtn">Reset</button>
                        <div style="display: inline;">
                            <button type="submit" id="saveBtn" class="btn btn-primary btn-sm" style="width:60%;">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="valid-tooltip">Good! Your email address looks valid.</div>*@
        <table id="fabricTable" class="stripe hover order-column" style="width: 100%">
            <thead>
                <tr>
                    <th></th>
                    <th>KnitID</th>
                    <th>DiaGaugeID</th>
                    <th>YarnCountID</th>
                    <th>McBrandID</th>
                    <th>KnitUnitID</th>
                    <th>MCNOID</th>
                    <th>BarCode</th>
                    <th>Buyer Name</th>
                    <th>Fabric Type</th>
                    <th>Order No</th>
                    <th>Color</th>
                    <th>Dia Gauge</th>
                    <th>Yarn Count</th>
                    <th>Yarn Brand</th>
                    <th>Yarn Lot</th>
                    <th>Stitch Length</th>
                    <th>Knit Unit</th>
                    <th>MC-NO</th>
                    <th>MC-RPM</th>
                    <th>Grey Width</th>
                    <th>Grey GSM</th>
                    <th>Tumble Width</th>
                    <th>Tumble GSM</th>
                    <th>Mc Brand</th>
                    <th>Revise</th>
                    <th>Aprroved</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th>KnitID</th>
                    <th>DiaGaugeID</th>
                    <th>YarnCountID</th>
                    <th>McBrandID</th>
                    <th>KnitUnitID</th>
                    <th>MCNOID</th>
                    <th>BarCode</th>
                    <th>Buyer Name</th>
                    <th>Fabric Type</th>
                    <th>Order No</th>
                    <th>Color</th>
                    <th>Dia Gauge</th>
                    <th>Yarn Count</th>
                    <th>Yarn Brand</th>
                    <th>Yarn Lot</th>
                    <th>Stitch Length</th>
                    <th>Knit Unit</th>
                    <th>MC-NO</th>
                    <th>MC-RPM</th>
                    <th>Grey Width</th>
                    <th>Grey GSM</th>
                    <th>Tumble Width</th>
                    <th>Tumble GSM</th>
                    <th>Mc Brand</th>
                    <th>Revise</th>
                    <th>Aprroved</th>
                </tr>
            </tfoot>
        </table>
    </form>
</div>

<script>
    $(document).ready(function () {

        var fabricSelectionTable = null;

        $("#searchFabricBtn").click(function ()
        {
            debugger;
            event.preventDefault();
            var fabricSearchObj = {
                BarCode: $("#BarCodeSL").val().toString(),
                BuyerID: $("#BuyerSL  option:selected").val(),
                FabricTypeID: $("#FabricSL  option:selected").val(),
                OrderNo: $("#OrderNoSL").val().length > 0 ? $("#OrderNoSL").val().toString() : '',
                Color: $("#ColorSL").val().length > 0  ? $("#ColorSL").val().toString() : '',
                ChallanNo: $("#ChallanSL").val().length > 0 ? $("#ChallanSL").val().toString() : '',
                DeliveryDate: $("#DeliveryDateTextSL").val().length > 0 ? $("#DeliveryDateTextSL").val().toString() : '',
            };

            $.ajax({
                type: "POST",
                url: "/Knitting/FabricSearch",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(fabricSearchObj),
                success: function (response) {
                    if (response != "" && response != null)
                    {
                        debugger;
                        fabricSelectionTable.rows.add(response);
                        fabricSelectionTable.draw();
                    }
                    else {
                        alert("Failed to Save! Please Check Connection State!!!");
                        return;
                    }
                },
                failure: function () {
                    $("#tblItems").append(" Error when fetching data please contact administrator");
                }
            });
        });

        $("#FabricSelection").click(function () {

            fabricSelectionTable = $('#fabricSelectionTable').DataTable({
                "dom": 'lrtip',
                "scrollY": true,
                "scrollX": true,
                "Sorting": true,
                "searching": true,
                "destroy": true,
                "columnDefs": [
                    {
                        "targets": [0],
                        "searchable": false,
                        "orderable": false,
                        "visible": false
                    },
                ],
                "columns": [
                    {
                        "searchable": false,
                        "data": "Id"
                    },
                    { "data": "BarCode" },
                    { "data": "BuyerName" },
                    { "data": "FabricType" },
                    { "data": "OrderNo" },
                    { "data": "Color" },
                    { "data": "Note" },
                    { "data": "Width" },
                    { "data": "GSM" },
                    { "data": "Status" },
                    { "data": "ChallanNo" },
                    { "data": "DeliveryQty" },
                    {
                        data: "DeliveryDate",
                        render: function (data, type, row) {
                            return moment(data).format("DD/MM/YYYY");
                        }
                    }
                ]

            });

        });

    });
</script>