@{
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}

<head>
    <style>
        .btn {
            padding: 10px 20px;
            font-size: 15px;
            border-radius: 5px;
        }

        tfoot input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }
    </style>
</head>

<h2>Stenter Entry Form</h2>

<div id="MainDiv" class="panel panel-default ">
    <ul id="MainContextMenu" class="dropdown-menu" role="menu" style="display:none">
        <li><a tabindex="-1" href="#">Delete</a></li>
        <li><a tabindex="-1" href="#">Approve</a></li>
    </ul>

    <div class="modal fade" id="modalSoftenerUnit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">Add Softener</div>
                                <div class="panel-body">
                                    <form id="SoftenerUnitForm">
                                        <div class=" form-group">
                                            <div class="form-group col-xs-12 form-inline">
                                                <label for="SoftenerUnitMD" class="control-label" style="width:35%;">Softener Unit</label>
                                                <div style="display: inline;">
                                                    <input type="text" class=" form-control" style="width:60%;" id="SoftenerUnitMD" placeholder="Softener" required autofocus>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" form-group">
                                            <div class="form-group col-xs-12 form-inline">
                                                <button class="btn btn-warning btn-sm" style="width:30%;" disabled id="editSoftenerUnitBtn">Update</button>
                                                <button class="btn btn-danger btn-sm" style="width:30%;" disabled id="deleteSoftenerUnitBtn">Delete</button>
                                                <div style="display: inline;">
                                                    <button type="submit" id="saveSoftenerUnitBtn" class="btn btn-primary btn-sm" style="width:30%;">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <table id="SoftenerTable" class="display nowrap stripe hover order-column" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Id</th>
                                        <th>Softener</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" id="resetSoftenerUnitBtn" class="btn btn-info">Reset</button>
                    <button type="submit" id="okaySoftenerUnitBtn" class="btn btn-success">Okay</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalDyeingSelection" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Select Dyeing</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">Searching Criteria</div>
                                <div class="panel-body">
                                    <div class=" form-group">
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="BarCodeSL" class="control-label" style="width:35%;">BarCode</label>
                                            <div style="display: inline;">
                                                <input type="text" class="typeahead form-control" style="width:60%;" id="BarCodeSL" placeholder="Bar Code" autofocus>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="BuyerSL" class="control-label" style="width:35%;">Buyer</label>
                                            <div style=" display: inline;">
                                                <select name="BuyerSL" id="BuyerSL" style="width:60%;" class="form-control input-sm" required autofocus></select>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="FabricSL" class="control-label" style="width:35%;">Fabric</label>
                                            <div style="display: inline;">
                                                <select name="FabricSL" id="FabricSL" style="width:60%;" class="form-control" autofocus></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" form-group">
                                        <div class="form-group col-xs-4 form-inline ">
                                            <label for="OrderNoSL" class="control-label" style="width:35%;">Order No</label>
                                            <div style="display: inline;">
                                                <input type="text" class="typeahead form-control" style="width:60%;" id="OrderNoSL" placeholder="Order No" autofocus>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="ColorSL" class="control-label" style="width:35%;">Color</label>
                                            <div style="display: inline;">
                                                <input type="text" class="typeahead form-control" style="width:60%;" id="ColorSL" placeholder="Color" autofocus>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="ChallanSL" class="control-label" style="width:35%;">Challan No</label>
                                            <div style="display: inline;">
                                                <input type="text" class="typeahead form-control" style="width:60%;" id="ChallanSL" placeholder="Challan No" autofocus>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" form-group">
                                        <div class="form-group col-xs-4 form-inline">
                                            <input type="checkbox" id="DeliveryDateCheckBox" style="width:5%;">
                                            <label for="DeliveryDateSL" class="control-label" style="width:30%;">Delivery Date</label>
                                            <div class='input-group date' id='DeliveryDateSL' style="width:60%;">
                                                <input type='text' class="form-control" id="DeliveryDateTextSL" disabled placeholder="Delivey Date" autofocus />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 form-inline">
                                            <input type="checkbox" id="FabricOrderDateCheckBox" style="width:5%;">
                                            <label for="FabricOrderDateSL" class="control-label" style="width:30%;">Fabric Order Date</label>
                                            <div class='input-group date' id='FabricOrderDateSL' style="width:60%;">
                                                <input type='text' class="form-control" id="FabricOrderDateTextSL" disabled placeholder="Fabric Order Date" autofocus />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 form-inline">
                                            <input type="checkbox" id="KnitOrderDateCheckBox" style="width:5%;">
                                            <label for="KnitOrderDateSL" class="control-label" style="width:30%;">Knit Order Date</label>
                                            <div class='input-group date' id='KnitOrderDateSL' style="width:60%;">
                                                <input type='text' class="form-control" id="KnitOrderDateTextSL" disabled placeholder="Knit Order Date" autofocus />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" form-group">
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="DiaGaugeSL" class="control-label" style="width:35%;">Dia-Guage</label>
                                            <div style="display: inline;">
                                                <select name="DiaGaugeSL" id="DiaGaugeSL" style="width:60%;" class="form-control input-sm" autofocus></select>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="YarnCountSL" class="control-label" style="width:35%;">Yarn Count</label>
                                            <div style="display: inline;">
                                                <select name="YarnCountSL" id="YarnCountSL" style="width:60%;" class="form-control input-sm" autofocus></select>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="YarnBrandSL" class="control-label" style="width:35%;">Yarn Brand</label>
                                            <div style="display: inline;">
                                                <input type="text" class="typeahead form-control input-sm" style="width:60%;" id="YarnBrandSL" placeholder="Yarn Brand" autofocus>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" form-group">
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="YarnLotSL" class="control-label" style="width:35%;">Yarn Lot</label>
                                            <div style="display: inline;">
                                                <input type="text" class="typeahead form-control" style="width:60%;" id="YarnLotSL" name="YarnLotSL" placeholder="Yarn Lot">
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="GreyWidthSL" class="control-label" style="width:35%;">Grey Width</label>
                                            <div style="display: inline;">
                                                <input type="number" class="form-control" style="width:60%;" id="GreyWidthSL" min="0" step="1" data-bind="value:GreyWidth" placeholder="Grey Width" autofocus>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="GreyGSMSL" class="control-label" style="width:35%;">Grey GSM</label>
                                            <div style="display: inline;">
                                                <input type="number" class="form-control" style="width:60%;" id="GreyGSMSL" min="0" step="1" data-bind="value:GreyGSM" placeholder="Grey GSM" autofocus>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" form-group">
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="KnitUnitSL" class="control-label" style="width:35%;">Knit Unit</label>
                                            <div style="display: inline;">
                                                <select name="KnitUnitSL" id="KnitUnitSL" style="width:60%;" class="form-control" autofocus></select>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="BrandSL" class="control-label" style="width:35%;">MC Brand</label>
                                            <div style="display: inline;">
                                                <select name="BrandSL" id="BrandSL" style="width:60%;" class="form-control input-sm" autofocus></select>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="DyeingUnitSL" class="control-label" style="width:35%;">DyeingUnit</label>
                                            <div style="display: inline;">
                                                <select name="DyeingUnitSL" id="DyeingUnitSL" style="width:60%;" class="form-control input-sm" autofocus></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" form-group">
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="BatchNoSL" class="control-label" style="width:35%;">Batch No</label>
                                            <div style="display: inline;">
                                                <input type="text" class="typeahead form-control" style="width:60%;" id="BatchNoSL" name="BatchNoSL" placeholder="Batch No">
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 form-inline">
                                            <button class="btn btn-warning btn-sm" style="width:35%;" id="resetDyeingBtn">Reset</button>
                                            <div style="display: inline;">
                                                <button type="submit" id="searchDyeingBtn" class="btn btn-primary btn-sm" style="width:60%;">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table id="DyeingSelectionTable" class="display nowrap stripe hover order-column" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>DyeingID</th>
                                        <th>FabricID</th>
                                        <th>KnitID</th>
                                        <th>BarCode</th>
                                        <th>BuyerName</th>
                                        <th>FabricType</th>
                                        <th>OrderNo</th>
                                        <th>Color</th>
                                        <th>DiaGuage</th>
                                        <th>YarnCount</th>
                                        <th>YarnBrand</th>
                                        <th>YarnLot</th>
                                        <th>StitchLength</th>
                                        <th>KnitUnit</th>
                                        <th>MC_NO</th>
                                        <th>MC_RPM</th>
                                        <th>GreyWidth</th>
                                        <th>GreyGSM</th>
                                        <th>TumbleWidth</th>
                                        <th>TumbleGSM</th>
                                        <th>McBrand</th>
                                        <th>KnitOrderDate</th>
                                        <th>DyeingUnit</th>
                                        <th>BatchNo</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" id="okayBtn" class="btn btn-success">Okay</button>
                </div>
            </div>
        </div>
    </div>

    <div class="text-left">
        <button href="" id="DyeingSelection" class="btn-info sm-4" data-toggle="modal" data-target="#modalDyeingSelection">
            Select Dyeing
        </button>
    </div>

    <input type="checkbox" id="hidden" value="option1" style="display:none;">

    <div class="panel panel-default ">
        <div class="panel-heading">
            <h5 class="panel-title"><i class="icon-stack-plus position-left"></i>Create Dyeing Order</h5>
        </div>
        <div class="panel-body">
            <form id="StenterForm">
                <div class=" form-group">
                    <div class="form-group col-xs-4 form-inline">
                        <label for="BarCode" class="control-label" style="width:35%;">BarCode</label>
                        <div style=" display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="BarCode" readonly>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="OrderNo" class="control-label" style="width:35%;">Order No</label>
                        <div style="display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="OrderNo" readonly>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="Color" class="control-label" style="width:35%;">Color</label>
                        <div style="display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="Color" readonly>
                        </div>
                    </div>
                </div>
                <div class=" form-group">
                    <div class="form-group col-xs-4 form-inline">
                        <label for="FabricName" class="control-label" style="width:35%;">Fabric Type</label>
                        <div style=" display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="FabricName" readonly>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="BuyerName" class="control-label" style="width:35%;">Buyer Name</label>
                        <div style=" display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="BuyerName" readonly>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="DiaGauge" class="control-label" style="width:35%;">MC Dia-Guage</label>
                        <div style="display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="DiaGauge" readonly>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group col-xs-4 form-inline">
                        <label for="YarnCount" class="control-label" style="width:35%;">Yarn Count</label>
                        <div style="display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="YarnCount" readonly>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="YarnBrand" class="control-label" style="width:35%;">Yarn Brand</label>
                        <div style="display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="YarnBrand" autofocus readonly>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="Yarn Lot" class="control-label" style="width:35%;">Yarn Lot</label>
                        <div style="display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="YarnLot" name="YarnLot" autofocus readonly>
                        </div>
                    </div>
                </div>
                <div class=" form-group">
                    <div class="form-group col-xs-4 form-inline">
                        <label for="KnitUnit" class="control-label" style="width:35%;">Knit Unit</label>
                        <div style="display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="KnitUnit" autofocus readonly>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="Brand" class="control-label" style="width:35%;">MC Brand</label>
                        <div style="display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="Brand" autofocus readonly>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="GreyWidth" class="control-label" style="width:35%;">Grey Width</label>
                        <div style="display: inline;">
                            <input type="number" class="form-control" style="width:60%;" id="GreyWidth" min="0" step="1" autofocus readonly>
                        </div>
                    </div>
                </div>
                <div class=" form-group">
                    <div class="form-group col-xs-4 form-inline">
                        <label for="GreyGSM" class="control-label" style="width:35%;">Grey GSM</label>
                        <div style="display: inline;">
                            <input type="number" class="form-control" style="width:60%;" id="GreyGSM" min="0" step="1" data-bind="value:GreyGSM" placeholder="Grey GSM" autofocus readonly>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="DyeingUnit" class="control-label" style="width:35%;">Dyeing Unit</label>
                        <div style="display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="DyeingUnit" autofocus readonly>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="BatchNo" class="control-label" style="width:35%;">Batch No</label>
                        <div style="display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="BatchNo" placeholder="Batch No" autofocus readonly>
                        </div>
                    </div>
                </div>
                <div class=" form-group">
                    <div class="form-group col-xs-4 form-inline">
                        <label for="WidthSet" class="control-label" style="width:35%;">Width Set</label>
                        <div style="display: inline;">
                            <input type="number" class="form-control" style="width:60%;" id="WidthSet" min="0" step="1" data-bind="value:WidthSet" placeholder="Width Set" required autofocus>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="OverFeed" class="control-label" style="width:35%;">OverFeed</label>
                        <div style="display: inline;">
                            <input type="number" class="form-control" style="width:60%;" id="OverFeed" min="0" step="1" data-bind="value:Serial" placeholder="OverFeed%" required autofocus>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="Temp" class="control-label" style="width:35%;">Temp</label>
                        <div style="display: inline;">
                            <input type="number" class="form-control" style="width:60%;" id="Temp" min="0" step="1" data-bind="value:Temp" placeholder="Temp Degree Celsius" required autofocus>
                        </div>
                    </div>
                </div>
                <div class=" form-group">
                    <div class="form-group col-xs-4 form-inline">
                        <label for="Speed" class="control-label" style="width:35%;">Speed</label>
                        <div style="display: inline;">
                            <input type="number" class="form-control" style="width:60%;" id="Speed" min="0" step="1" data-bind="value:Speed" placeholder="Speed(RPM)" required autofocus>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="Peder" class="control-label" style="width:35%;">Peder(1st&2nd)</label>
                        <div style="display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="Peder" placeholder="Peder Pressure 1st & 2nd" required autofocus>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="Blower" class="control-label" style="width:35%;">Blower</label>
                        <div style="display: inline;">
                            <input type="number" class="form-control" style="width:60%;" id="Blower" min="0" step="1" data-bind="value:Blower" placeholder="Blower" required autofocus>
                        </div>
                    </div>
                </div>
                <div class=" form-group">
                    <div class="form-group col-xs-4 form-inline">
                        <label for="SoftenerUnit" class="control-label" style="width:35%;">Softener Name</label>
                        <div style="display: inline;">
                            <select name="SoftenerUnit" id="SoftenerUnit" style="width:50%;" class="form-control input-sm" required autofocus></select>
                            <a href="#" class="btn-sm btn-info" id="mdSoftenerUnit" data-toggle="modal" data-target="#modalSoftenerUnit" style="width:10%;">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="SoftenerGL" class="control-label" style="width:35%;">Softener G/L</label>
                        <div style="display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="SoftenerGL" placeholder="Softener G/L" required autofocus>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="DIA" class="control-label" style="width:35%;">DIA</label>
                        <div style="display: inline;">
                            <input type="number" class="form-control" style="width:60%;" id="DIA" min="0" step="1" data-bind="value:DIA" placeholder="DIA" required autofocus>
                        </div>
                    </div>
                </div>
                <div class=" form-group">
                    <div class="form-group col-xs-4 form-inline">
                        <label for="GSM" class="control-label" style="width:35%;">GSM</label>
                        <div style="display: inline;">
                            <input type="number" class="form-control" style="width:60%;" id="GSM" min="0" step="1" data-bind="value:GSM" placeholder="GSM" required autofocus>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <button class="btn btn-warning btn-sm" style="width:25%;" id="resetBtn">Reset</button>
                        <div style="display: inline;">
                            <input type="submit" value="Save" class="btn btn-success btn-sm" style="width:22%;" id="saveBtn">
                        </div>
                        <div style="display: inline;">
                            <input type="submit" value="Revise" class="btn btn-info btn-sm" disabled="disabled" style="width:23%;" id="reviseBtn">
                        </div>
                        <div style="display: inline;">
                            <input type="submit" value="Update" class="btn btn-primary btn-sm" disabled="disabled" style="width:23%;" id="updateBtn">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <table id="StenterTable" class="display nowrap stripe hover order-column " style="width: 1000px;">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>DyeingID</th>
                <th>SoftenerID</th>
                <th>BarCode</th>
                <th>Buyer Name</th>
                <th>Fabric Type</th>
                <th>Order No</th>
                <th>Color</th>
                <th>Dia Guage</th>
                <th>Yarn Count</th>
                <th>Yarn Brand</th>
                <th>Yarn Lot</th>
                <th>Knit Unit</th>
                <th>Grey Width</th>
                <th>Grey GSM</th>
                <th>Mc Brand</th>
                <th>Dyeing Unit</th>
                <th>Batch No</th>
                <th>WidthSet</th>
                <th>OverFeed</th>
                <th>Temp</th>
                <th>Speed</th>
                <th>Peder</th>
                <th>Blower</th>
                <th>SoftenerName</th>
                <th>SoftenerGL</th>
                <th>DIA</th>
                <th>GSM/th>
                <th>Revise</th>
                <th>Create Time</th>
                <th>Create By</th>
                <th>Update Time</th>
                <th>Update By</th>
                <th>Approved Time</th>
                <th>Approved By</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th style="visibility:hidden;"></th>
                <th></th>
                <th></th>
                <th></th>
                <th>BarCode</th>
                <th>Buyer Name</th>
                <th>Fabric Type</th>
                <th>Order No</th>
                <th>Color</th>
                <th>Dia Guage</th>
                <th>Yarn Count</th>
                <th>Yarn Brand</th>
                <th>Yarn Lot</th>
                <th>Knit Unit</th>
                <th>Grey Width</th>
                <th>Grey GSM</th>
                <th>Mc Brand</th>
                <th>Dyeing Unit</th>
                <th>Batch No</th>
                <th>WidthSet</th>
                <th>OverFeed</th>
                <th>Temp</th>
                <th>Speed</th>
                <th>Peder</th>
                <th>Blower</th>
                <th>SoftenerName</th>
                <th>SoftenerGL</th>
                <th>DIA</th>
                <th>GSM/th>
                <th>Revise</th>
                <th>Create Time</th>
                <th>Create By</th>
                <th>Update Time</th>
                <th>Update By</th>
                <th>Approved Time</th>
                <th>Approved By</th>
            </tr>
        </tfoot>
    </table>

</div>

<script>

    $(document).ready(function () {

        var selectedDyeingRowId = 0;
        var DyeingSelectionTable = $('#DyeingSelectionTable').DataTable();
        var SoftenerTable = $('#SoftenerTable').DataTable();

        (function ($, window) {

            $.fn.contextMenu = function (settings) {

                return this.each(function () {

                    // Open context menu
                    $(this).on("contextmenu", function (e) {
                        // return native menu if pressing control
                        if (e.ctrlKey) return;

                        if ($('#StenterTable tbody tr').hasClass('selected') == false) return;

                        //open menu
                        var $menu = $(settings.menuSelector)
                            .data("invokedOn", $(e.target))
                            .show()
                            .css({
                                position: "absolute",
                                left: getMenuPosition(e.clientX, 'width', 'scrollLeft'),
                                top: getMenuPosition(e.clientY, 'height', 'scrollTop')
                            })
                            .off('click')
                            .on('click', 'a', function (e) {
                                $menu.hide();

                                var $invokedOn = $menu.data("invokedOn");
                                var $selectedMenu = $(e.target);

                                settings.menuSelected.call(this, $invokedOn, $selectedMenu);
                            });

                        return false;
                    });

                    //make sure menu closes on any click
                    $('body').click(function () {
                        $(settings.menuSelector).hide();
                    });
                });

                function getMenuPosition(mouse, direction, scrollDir) {
                    var win = $(window)[direction](),
                        scroll = $(window)[scrollDir](),
                        menu = $(settings.menuSelector)[direction](),
                        position = mouse + scroll;

                    // opening menu would pass the side of the page
                    if (mouse + menu > win && menu < mouse)
                        position -= menu;

                    return position;
                }

            };
        })(jQuery, window);

        $('#DeliveryDateSL, #FabricOrderDateSL, #KnitOrderDateSL').datetimepicker({
            defaultDate: new Date(),
            format: 'DD/MM/YYYY'
        });

        $('#modalSoftenerUnit').on('shown.bs.modal', function () {
            SoftenerTable.columns.adjust();
        });

        $("#mdSoftenerUnit").click(function () {
            debugger;
            SoftenerTable = $('#SoftenerTable').DataTable({
                buttons: [
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    'colvis'
                ],
                "ajax":
                {
                    "url": "/Stenter/GetSoftenerUnit",
                    "type": "GET",
                    "dataType": "JSON"
                },
                "dom": 'Bfrtip',
                "scrollY": true,
                "scrollX": true,
                "Sorting": true,
                "searching": true,
                "destroy": true,
                "select": {
                    style: 'single'
                },
                "columnDefs": [
                    {
                        "targets": [0],
                        "searchable": false,
                        "orderable": false
                    },
                    {
                        "targets": [1],
                        "searchable": false,
                        "orderable": false,
                        "visible": false
                    }
                ],
                "columns": [
                    {
                        "render": function (data, type, full, meta) {
                            return SoftenerTable.data().count();
                        }
                    },
                    { "data": "Id" },
                    { "data": "Softener" }
                ]
            });
        });

        $('#SoftenerTable tbody').on('click', 'tr', function () {

            if (SoftenerTable.data().any()) {
                $(this).toggleClass('selected');

                if ($(this).hasClass('selected')) {
                    debugger
                    var rowdata = SoftenerTable.row(this).data();
                    $('#SoftenerUnitMD').val(rowdata.Softener)
                    $('#editSoftenerUnitBtn').prop("disabled", false);
                    $('#deleteSoftenerUnitBtn').prop("disabled", false);
                    $('#saveSoftenerUnitBtn').prop("disabled", true);
                }
                else {
                    $('#editSoftenerUnitBtn').prop("disabled", true);
                    $('#deleteSoftenerUnitBtn').prop("disabled", true);
                    $('#saveSoftenerUnitBtn').prop("disabled", false);
                }
            }
        });

        $('#SoftenerUnitForm').submit(function (e) {

            event.preventDefault();
            debugger
            var SoftenerUnitObj = {
                Id: '0',
                Softener: $("#SoftenerUnitMD").val()
            };

            $.ajax({
                type: "POST",
                url: "/Stenter/AddSoftenerType",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(SoftenerUnitObj),
                success: function (response) {
                    debugger
                    if (response.data != "" && response.data != null) {
                        SoftenerTable.row.add(response.data).draw();
                        $("#SoftenerUnitMD").val("");
                    }
                    else {
                        alert("Failed to Save!!!");
                        return;
                    }
                },
                failure: function () {
                    $("#tblItems").append(" Error when fetching data please contact administrator");
                }
            });
        });

        $("#editSoftenerUnitBtn").click(function () {
            event.preventDefault();

            if ($('#SoftenerTable tbody tr').hasClass('selected')) {
                debugger
                var Row = SoftenerTable.rows('.selected').data()[0];
                var index = SoftenerTable.row('.selected').index();

                var SoftenerUnitObj =
                {
                    Id: Row.Id,
                    Softener: $("#SoftenerUnitMD").val()
                };

                $.ajax({
                    type: "POST",
                    url: "/Stenter/AddSoftenerType",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(SoftenerUnitObj),
                    success: function (response) {
                        debugger
                        if (response.data != "" && response.data != null) {
                            debugger
                            SoftenerTable.row(index).data(response.data).draw();
                            $("#SoftenerUnitMD").val("");
                        }
                        else {
                            alert("Failed to Update!!!");
                            return;
                        }
                    },
                    failure: function () {
                        $("#tblItems").append(" Error when fetching data please contact administrator");
                    }
                });
            }
            else {
                alert("Please Select A Row!!!");
                return;
            }
        });

        $("#deleteSoftenerUnitBtn").click(function () {
            event.preventDefault();

            if ($('#SoftenerTable tbody tr').hasClass('selected')) {
                debugger
                var Row = SoftenerTable.rows('.selected').data()[0];

                $.ajax({
                    type: "POST",
                    url: "/Stenter/DeleteSoftenerType",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify({ Id: Row.Id }),
                    success: function (response) {
                        debugger
                        if (response == "Success") {
                            SoftenerTable.row('.selected').remove().draw(false);
                            $("#SoftenerUnitMD").val("");
                        }
                        else {
                            alert("Failed to Update!!!");
                            return;
                        }
                    },
                    failure: function () {
                        $("#tblItems").append(" Error when fetching data please contact administrator");
                    }
                });
            }
            else {
                alert("Please Select A Row!!!");
                return;
            }
        });

        $("#resetSoftenerUnitBtn").click(function () {
            $("#SoftenerUnitMD").val("");
            $('#editSoftenerUnitBtn').prop("disabled", true);
            $('#deleteSoftenerUnitBtn').prop("disabled", true);
            $('#saveSoftenerUnitBtn').prop("disabled", false);
        });

        $("#okaySoftenerUnitBtn").click(function () {
            $("#modalSoftenerUnit .close").click();
            loadSoftenerUnitList();
        });

        loadSoftenerUnitList();

        function loadSoftenerUnitList(){
            $.ajax({
                type: "GET",
                url: "/Stenter/GetSoftenerUnit",
                data: "{}",
                success: function (data) {
                    debugger;
                    var data = data.data;
                    var s = '<option value="">Select Softener</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].Id + '">' + data[i].Softener + '</option>';
                    }
                    $("#SoftenerUnit").html(s);
                    loadDyeingUnitList();
                }
            });
        }

        function loadDyeingUnitList() {
            $.ajax({
                type: "GET",
                url: "/Dyeing/GetDyeingUnit",
                data: "{}",
                success: function (data) {
                    debugger;
                    var s = '<option value="">Select Dyeing</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].Id + '">' + data[i].DyeingUnit + '</option>';
                    }
                    $("#DyeingUnitSL").html(s);
                    loadBuyerList();
                }
            });
        }

        function loadBuyerList() {
            $.ajax({
                type: "GET",
                url: "/Fabric/GetBuyerList",
                data: "{}",
                success: function (data) {
                    var s = '<option value="">Select Buyer</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].Id + '">' + data[i].BuyerName + '</option>';
                    }
                    $("#BuyerSL").html(s);
                    loadFabricTypeList();
                }
            });
        }

        function loadFabricTypeList() {
            $.ajax({
                type: "GET",
                url: "/Fabric/GetFabricTypeList",
                data: "{}",
                success: function (data) {
                    var s = '<option value="">Select Fabric</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].Id + '">' + data[i].FabricTypeName + '</option>';
                    }
                    $("#FabricSL").html(s);
                    loadMCDIAList();
                }
            });
        }

        function loadMCDIAList() {
            $.ajax({
                type: "GET",
                url: "/Knitting/GetMCDIAList",
                data: "{}",
                success: function (data) {
                    var data = data.data;
                    var s = '<option value="">Select DiaGauge</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].Id + '">' + data[i].McDiaGauge + '</option>';
                    }
                    $("#DiaGaugeSL").html(s);
                    loadYarnCountList();
                }
            });
        }

        function loadYarnCountList() {
            $.ajax({
                type: "GET",
                url: "/Knitting/GetYarnCountList",
                data: "{}",
                success: function (data) {
                    var data = data.data;
                    var s = '<option value="">Select Yarn Count</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].Id + '">' + data[i].YarnCount + '</option>';
                    }
                    $("#YarnCountSL").html(s);
                    loadKnitUnitList();
                }
            });
        }

        function loadKnitUnitList() {
            $.ajax({
                type: "GET",
                url: "/Knitting/GetKnitUnitList",
                data: "{}",
                success: function (data) {
                    var data = data.data;
                    var s = '<option value="">Select KnitUnit</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].Id + '">' + data[i].KnitUnit + '</option>';
                    }
                    $("#KnitUnitSL").html(s);
                    loadMcBrandList();
                }
            });
        }

        function loadMcBrandList() {
            $.ajax({
                type: "GET",
                url: "/Knitting/GetMcBrandList",
                data: "{}",
                success: function (data) {
                    var data = data.data;
                    var s = '<option value="">Select McBrand</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].Id + '">' + data[i].McBrand + '</option>';
                    }
                    $("#BrandSL").html(s);
                }
            });
        }

        $('#DeliveryDateCheckBox').change(function () {
            if ($(this).is(":checked")) {
                $('#DeliveryDateTextSL').prop('disabled', false);
            }
            else {
                $('#DeliveryDateTextSL').prop('disabled', true);
            }
        });

        $('#FabricOrderDateCheckBox').change(function () {
            if ($(this).is(":checked")) {
                $('#FabricOrderDateTextSL').prop('disabled', false);
            }
            else {
                $('#FabricOrderDateTextSL').prop('disabled', true);
            }
        });

        $('#KnitOrderDateCheckBox').change(function () {
            if ($(this).is(":checked")) {
                $('#KnitOrderDateTextSL').prop('disabled', false);
            }
            else {
                $('#KnitOrderDateTextSL').prop('disabled', true);
            }
        });

        var StenterTable = $('#StenterTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'pdfHtml5',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                'colvis'
            ],
            "ajax":
            {
                "url": "/Stenter/GetData",
                "type": "GET",
                "dataType": "JSON"
            },
            "autowidth": false,
            "scrollY": true,
            "scrollX": true,
            "Sorting": true,
            "searching": true,
            "destroy": true,
            "select": {
                style: 'single'
            },
            "columnDefs": [
                {
                    "targets": [0],
                    "searchable": false,
                    "orderable": false,
                },
                {
                    "targets": [1, 2, 3],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": "_all",
                    "width": "100px"
                }

            ],

            "columns": [
                {
                    "searchable": false,
                    "render": function (data, type, full, meta) {
                        return StenterTable.data().count();
                    }
                },
                { "data": "Id" },
                { "data": "DyeingID" },
                { "data": "SoftenerID" },
                { "data": "BarCode" },
                { "data": "BuyerName" },
                { "data": "FabricName" },
                { "data": "OrderNo" },
                { "data": "Color" },
                { "data": "McDiaGauge" },
                { "data": "YarnCount" },
                { "data": "YarnBrand" },
                { "data": "YarnLot" },
                { "data": "KnitUnit" },
                { "data": "GreyWidth" },
                { "data": "GreyGSM" },
                { "data": "McBrand" },
                { "data": "DyeingUnit" },
                { "data": "BatchNo" },

                { "data": "WidthSet" },
                { "data": "OverFeed" },
                { "data": "Temp" },
                { "data": "Speed" },
                { "data": "Peder" },
                { "data": "Blower" },
                { "data": "SoftenerName" },
                { "data": "SoftenerGL" },
                { "data": "DIA" },
                { "data": "GSM" },

                { "data": "ReviseStatus" },
                {
                    data: "CreateTime",
                    render: function (data, type, row) {
                        return moment(data).format("DD/MM/YYYY h:mm a");
                    }
                },
                { "data": "CreateByName" },
                {
                    data: "UpdateTime",
                    render: function (data, type, row) {
                        if (data != null)
                            return moment(data).format("DD/MM/YYYY h:mm a");
                        else
                            return "N/A"
                    }
                },
                {
                    "data": "UpdateByName",
                    render: function (data, type, row) {
                        if (data != "")
                            return data;
                        else
                            return "N/A"
                    }
                },
                {
                    data: "ApprovedTime",
                    render: function (data, type, row) {
                        if (data != null)
                            return moment(data).format("DD/MM/YYYY h:mm a");
                        else
                            return "N/A"
                    }
                },
                {
                    "data": "ApprovedByName",
                    render: function (data, type, row) {
                        if (data != "")
                            return data;
                        else
                            return "N/A"
                    }
                }
            ]
        });

        $("#DyeingSelection").click(function () {

            selectedDyeingRowId = 0;
            ResetDyeing();
            DyeingSelectionTable.clear().draw();
            DyeingSelectionTable = $('#DyeingSelectionTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    'colvis'
                ],
                "scrollY": true,
                "scrollX": true,
                "Sorting": true,
                "searching": true,
                "select": {
                    style: 'single'
                },
                "destroy": true,
                "columnDefs": [
                    {
                        "targets": [0],
                        "searchable": false,
                        "orderable": false,
                    },
                    {
                        "targets": [1, 2, 3],
                        "visible": false,
                        "searchable": false
                    },
                    {
                        "targets": "_all",
                        "width": "100px"
                    }

                ],
                "columns": [
                    {
                        "searchable": false,
                        "render": function (data, type, full, meta) {
                            return DyeingSelectionTable.data().count();
                        }
                    },
                    { "data": "Id" },
                    { "data": "KnitID" },
                    { "data": "FabricID" },
                    { "data": "BarCode" },
                    { "data": "BuyerName" },
                    { "data": "FabricName" },
                    { "data": "OrderNo" },
                    { "data": "Color" },
                    { "data": "McDiaGauge" },
                    { "data": "YarnCount" },
                    { "data": "YarnBrand" },
                    { "data": "YarnLot" },
                    { "data": "StitchLength" },
                    { "data": "KnitUnit" },
                    { "data": "MCNO" },
                    { "data": "MCRPM" },
                    { "data": "GreyWidth" },
                    { "data": "GreyGSM" },
                    { "data": "TumbleWidth" },
                    { "data": "TumbleGSM" },
                    { "data": "McBrand" },
                    {
                        data: "CreateTime",
                        render: function (data, type, row) {
                            return moment(data).format("DD/MM/YYYY  h:mm a");
                        }
                    },
                    { "data": "DyeingUnit" },
                    { "data": "BatchNo" }
                ]
            });

        });

        $("#searchDyeingBtn").click(function () {
            debugger;
            event.preventDefault();

            if (ValidateDyeingSelectionForm() == true) {

                var barCode = $('#BarCodeSL').val() == "" ? 0 : parseInt($('#BarCodeSL').val());

                $.ajax({
                    type: "POST",
                    url: "/Stenter/BarCodeAuthorization",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify({ BarCode: barCode }),
                    success: function (response) {
                        debugger;
                        if (response == "true") {
                            debugger;
                            var dyeingSearchObj = {
                                BarCode: $("#BarCodeSL").val().toString(),
                                BuyerID: $("#BuyerSL  option:selected").val(),
                                FabricTypeID: $("#FabricSL  option:selected").val(),
                                OrderNo: $("#OrderNoSL").val().length > 0 ? $("#OrderNoSL").val().toString() : '',
                                Color: $("#ColorSL").val().length > 0 ? $("#ColorSL").val().toString() : '',
                                ChallanNo: $("#ChallanSL").val().length > 0 ? $("#ChallanSL").val().toString() : '',
                                DeliveryDate: $('#DeliveryDateCheckBox').is(":checked") == true ? $("#DeliveryDateTextSL").val().toString() : '',
                                FabricCreateTime: $('#FabricOrderDateCheckBox').is(":checked") == true ? $("#FabricOrderDateTextSL").val().toString() : '',
                                CreateTime: $('#KnitOrderDateCheckBox').is(":checked") == true ? $("#KnitOrderDateTextSL").val().toString() : '',
                                McDiaGauge: $("#DiaGaugeSL  option:selected").val(),
                                YarnCountID: $("#YarnCountSL  option:selected").val(),
                                YarnBrand: $("#YarnBrandSL").val().toString(),
                                YarnLot: $("#YarnLotSL").val().toString(),
                                KnitUnitID: $("#KnitUnitSL  option:selected").val(),
                                GreyWidth: $("#GreyWidthSL").val().toString(),
                                GreyGSM: $("#GreyGSMSL").val().toString(),
                                McBrandID: $("#BrandSL  option:selected").val(),
                                DyeingUnitID: $("#DyeingUnitSL  option:selected").val(),
                                BatchNo: $("#BatchNoSL  option:selected").val(),
                            };

                            $.ajax({
                                type: "POST",
                                url: "/Stenter/DyeingSearch",
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                data: JSON.stringify(dyeingSearchObj),
                                success: function (response) {
                                    if (response != "" && response != null) {
                                        debugger
                                        DyeingSelectionTable.clear().draw();
                                        DyeingSelectionTable.rows.add(response).draw();
                                    }
                                    else {
                                        alert("Failed to Save! Please Check Connection State!!!");
                                        return;
                                    }
                                },
                                failure: function () {
                                    $("#tblItems").append(" Error when fetching data please contact administrator");
                                }
                            });
                        }
                        if (response == "false") {
                            alert("This Barcode is already used in another dyeing order!!!");
                            return;
                        }
                        if (response == "" || response == null) {
                            alert("Connection problem!!!");
                            return;
                        }
                    },
                    failure: function () {
                        $("#tblItems").append(" Error when fetching data please contact administrator");
                    }
                });
            }
            else {
                alert("Please Select Atleast One Criteria!!!");
                return;
            }


        });

        function ValidateDyeingSelectionForm() {
            debugger;
            if ($("#DiaGaugeSL  option:selected").val() == "" && $("#YarnCountSL  option:selected").val() == "" && $("#BrandSL  option:selected").val() == "" && $("#KnitUnitSL  option:selected").val() == "" &&
                $("#BarCodeSL").val() == "" && $("#YarnBrandSL").val() == "" && $("#YarnLotSL").val() == "" && $("#ChallanSL").val() == "" && $("#GreyWidthSL").val() == "" && $('#DeliveryDateCheckBox').is(":checked") == false && $('#FabricOrderDateCheckBox').is(":checked") == false && $('#KnitOrderDateCheckBox').is(":checked") == false &&
                $("#GreyGSMSL").val() == "" && $("#BuyerSL option:selected").val() == "" && $("#FabricSL option:selected").val() == "" && $("#OrderNoSL").val() == "" && $("#ColorSL").val() == "" && $("#DyeingUnitSL option:selected").val() == "" && $("#BatchNoSL").val() == "") {
                return false;
            }
            else {
                return true;
            }
        }

        function ResetDyeing() {
            $("#BarCodeSL").val("");
            $("#OrderNoSL").val("");
            $("#ColorSL").val("");
            $("#FabricNameSL").val("");
            $("#BuyerNameSL").val("");
            $("#DiaGaugeSL").val("");
            $("#YarnCountSL").val("");
            $("#YarnBrandSL").val("");
            $("#YarnLotSL").val("");
            $("#KnitUnitSL").val("");
            $("#BrandSL").val("");
            $("#GreyWidthSL").val("");
            $("#GreyGSMSL").val("");
            $("#ChallaNoSL").val("");
            $("#DeliveryDateTextSL").val("");
            $("#FabricOrderDateTextSL").val("");
            $("#KnitOrderDateSL").val("");
            $("#DyeingUnitSL").val("");
            $("#BatchNoSL").val("");
        }

        $("#resetDyeingBtn").click(function () {
            ResetDyeing();
        });

        $("#okayBtn").click(function () {
            debugger
            if ($('#DyeingSelectionTable tbody tr').hasClass('selected')) {
                selectedDyeingRowId = DyeingSelectionTable.rows('.selected').data()[0].Id;
                //selectedFabriId = DyeingSelectionTable.rows('.selected').data()[0].FabricID;

                $('#BarCode').val(DyeingSelectionTable.rows('.selected').data()[0].BarCode);
                $('#FabricName').val(DyeingSelectionTable.rows('.selected').data()[0].FabricName);
                $('#BuyerName').val(DyeingSelectionTable.rows('.selected').data()[0].BuyerName);
                $('#OrderNo').val(DyeingSelectionTable.rows('.selected').data()[0].OrderNo);
                $('#Color').val(DyeingSelectionTable.rows('.selected').data()[0].Color);
                $('#DiaGauge').val(DyeingSelectionTable.rows('.selected').data()[0].McDiaGauge);
                $('#YarnCount').val(DyeingSelectionTable.rows('.selected').data()[0].YarnCount);
                $('#YarnBrand').val(DyeingSelectionTable.rows('.selected').data()[0].YarnBrand);
                $('#YarnLot').val(DyeingSelectionTable.rows('.selected').data()[0].YarnLot);
                $('#KnitUnit').val(DyeingSelectionTable.rows('.selected').data()[0].KnitUnit);
                $('#GreyWidth').val(DyeingSelectionTable.rows('.selected').data()[0].GreyWidth);
                $('#GreyGSM').val(DyeingSelectionTable.rows('.selected').data()[0].GreyGSM);
                $('#Brand').val(DyeingSelectionTable.rows('.selected').data()[0].McBrand);
                $('#DyeingUnit').val(DyeingSelectionTable.rows('.selected').data()[0].DyeingUnit);
                $('#BatchNo').val(DyeingSelectionTable.rows('.selected').data()[0].BatchNo);
                $("#modalDyeingSelection .close").click();

                $('#hidden').prop('checked', true);
            }
            else {
                alert('Please Select A Row.')
                return;
            }
        });

        $('#StenterForm').submit(function (e) {

            event.preventDefault();
            debugger;
            if ($('#hidden').is(':checked') == true) {
                var stenter = {
                    Id: '0',
                    BarCode: $('#BarCode').val(),
                    DyeingID: selectedDyeingRowId,
                    SoftenerID: $("#SoftenerUnit  option:selected").val(),
                    WidthSet: $("#WidthSet").val(),
                    OverFeed: $("#OverFeed").val(),
                    Temp: $("#Temp").val(),
                    Speed: $("#Speed").val(),
                    Blower: $("#Blower").val(),
                    Peder: $("#Peder").val(),
                    SoftenerGL: $("#SoftenerGL").val(),
                    DIA: $("#DIA").val(),
                    GSM: $("#GSM").val(),
                    CreateTime: moment(Date.now()).format("DD/MM/YYYY h:mm a")
                };

                $.ajax({
                    type: "POST",
                    url: "/Stenter/Create",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(stenter),
                    success: function (response) {
                        debugger
                        if (response.data != "" && response.data != null) {
                            StenterTable.row.add(response.data);
                            StenterTable.draw();
                            Reset();
                        }
                        else {
                            alert("Failed to Save! Please Check Connection State!!!");
                            return;
                        }
                    },
                    failure: function () {
                        $("#tblItems").append(" Error when fetching data please contact administrator");
                    }
                });
            }
            else {
                alert("Please Select knitting!!!");
                return;
            }
        });

        $("#updateBtn").click(function () {
            event.preventDefault();

            debugger
            if ($('#StenterTable tbody tr').hasClass('selected')) {
                debugger
                var Row = StenterTable.rows('.selected').data()[0];
                var index = StenterTable.row('.selected').index();

                var dyeingObj = {
                    Id: Row.Id,
                    BarCode: Row.BarCode,
                    DyeingID: Row.DyeingID,
                    SoftenerID: $("#SoftenerUnit  option:selected").val(),
                    WidthSet: $("#WidthSet").val(),
                    OverFeed: $("#OverFeed").val(),
                    Temp: $("#Temp").val(),
                    Speed: $("#Speed").val(),
                    Blower: $("#Blower").val(),
                    Peder: $("#Peder").val(),
                    SoftenerGL: $("#SoftenerGL").val(),
                    DIA: $("#DIA").val(),
                    GSM: $("#GSM").val(),
                    UpdateTime: moment(Date.now()).format("DD/MM/YYYY h:mm a")
                };

                $.ajax({
                    type: "POST",
                    url: "/Stenter/Edit",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(dyeingObj),
                    success: function (response) {
                        debugger
                        if (response.data != "" && response.data != null) {
                            debugger
                            StenterTable.row(index).data(response.data).draw();
                            Reset();
                        }
                        else {
                            alert("Failed to Update!!!");
                            return;
                        }
                    },
                    failure: function () {
                        $("#tblItems").append(" Error when fetching data please contact administrator");
                    }
                });

            }
            else {
                alert("Please Select A Row!!!");
                return;
            }


        });

        $("#reviseBtn").click(function () {
            event.preventDefault();

            if ($('#StenterTable tbody tr').hasClass('selected')) {
                debugger
                var Row = StenterTable.rows('.selected').data()[0];

                var stenter = {
                    Id: Row.Id,
                    BarCode: Row.BarCode,
                    DyeingID: Row.DyeingID,
                    SoftenerID: $("#SoftenerUnit  option:selected").val(),
                    WidthSet: $("#WidthSet").val(),
                    OverFeed: $("#OverFeed").val(),
                    Temp: $("#Temp").val(),
                    Speed: $("#Speed").val(),
                    Blower: $("#Blower").val(),
                    Peder: $("#Peder").val(),
                    SoftenerGL: $("#SoftenerGL").val(),
                    DIA: $("#DIA").val(),
                    GSM: $("#GSM").val(),
                    CreateTime: moment(Date.now()).format("DD/MM/YYYY h:mm a")
                };

                $.ajax({
                    type: "POST",
                    url: "/Stenter/Revise",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(stenter),
                    success: function (response) {
                        debugger
                        if (response.data != "" && response.data != null) {
                            debugger
                            StenterTable.row.add(response.data).draw();
                            Reset();
                        }
                        else {
                            alert("Failed to Revise!!!");
                            return;
                        }
                    },
                    failure: function () {
                        $("#tblItems").append(" Error when fetching data please contact administrator");
                    }
                });

            }
            else {
                alert("Please Select A Row!!!");
                return;
            }
        });

        $("#resetBtn").click(function () {
            Reset();
        });

        $("#StenterTable tbody").contextMenu({
            menuSelector: "#MainContextMenu",
            menuSelected: function (invokedOn, selectedMenu) {
                debugger;

                var ApprovedBy = StenterTable.rows('.selected').data()[0].ApprovedBy;
                if (ApprovedBy == 0) {
                    if (selectedMenu.text() == "Delete")
                        DeleteRow();
                    if (selectedMenu.text() == "Approve")
                        ApproveRow();

                }
                else {
                    alert("This order is already approved!!!");
                    return;
                }
            }
        });

        $('#StenterTable tbody').on('click', 'tr', function () {

            $(this).toggleClass('selected');

            if ($(this).hasClass('selected')) {
                var rowdata = StenterTable.row(this).data();
            }

            if (StenterTable.data().any()) {
                Setvalue(rowdata);
                $('#saveBtn').prop("disabled", true);
                $('#updateBtn').prop("disabled", false);
                $('#reviseBtn').prop("disabled", false);
            }
            else {
                $('#saveBtn').prop("disabled", false);
                $('#updateBtn').prop("disabled", true);
                $('#reviseBtn').prop("disabled", true);
            }

        });

        function Setvalue(rowdata) {
            debugger;
            $("#WidthSet").val(rowdata.WidthSet);
            $("#OverFeed").val(rowdata.OverFeed);
            $("#Temp").val(rowdata.Temp);
            $("#Speed").val(rowdata.Speed);
            $("#Peder").val(rowdata.Peder);
            $("#Blower").val(rowdata.Blower);
            $("#SoftenerUnit").val(rowdata.SoftenerID);
            $("#SoftenerGL").val(rowdata.SoftenerGL);
            $("#DIA").val(rowdata.DIA);
            $("#GSM").val(rowdata.GSM);
        }

        function Reset() {
            $("#BarCode").val("");
            $("#OrderNo").val("");
            $("#Color").val("");
            $("#FabricName").val("");
            $("#BuyerName").val("");
            $("#DiaGauge").val("");
            $("#YarnCount").val("");
            $("#YarnBrand").val("");
            $("#YarnLot").val("");
            $("#KnitUnit").val("");
            $("#Brand").val("");
            $("#GreyWidth").val("");
            $("#GreyGSM").val("");
            $("#WidthSet").val("");
            $("#OverFeed").val("");
            $("#Temp").val("");
            $("#Speed").val("");
            $("#Peder").val("");
            $("#Blower").val("");
            $("#SoftenerUnit").val("");
            $("#SoftenerGL").val("");
            $("#DIA").val("");
            $("#GSM").val("");
            $('#hidden').prop('checked', false);
        }

        function DeleteRow() {
            event.preventDefault();
            var Id = StenterTable.rows('.selected').data()[0].Id;

            $.ajax({
                type: "POST",
                url: "/Stenter/Delete",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({ "Id": Id }),
                success: function (response) {
                    debugger
                    if (response = "Success") {
                        debugger;
                        StenterTable.row('.selected').remove().draw(false);
                        Reset();
                    }
                    else {
                        alert("Failed to Delete!!!");
                        return;
                    }
                },
                failure: function () {
                    $("#tblItems").append(" Error when fetching data please contact administrator");
                }
            });
        };

        function ApproveRow() {
            debugger
            event.preventDefault();

            var Row = StenterTable.rows('.selected').data()[0];
            var index = StenterTable.row('.selected').index();

            var stenter =
            {
                Id: Row.Id,
                ApprovedTime: moment(Date.now()).format("YYYY/MM/DD h:mm a"),
            };

            $.ajax({
                type: "POST",
                url: "/Stenter/Approve",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(stenter),
                success: function (response) {
                    debugger
                    if (response.data != "" && response.data != null) {
                        debugger
                        StenterTable.row(index).data(response.data).draw();
                        Reset();
                    }
                    else {
                        alert("Failed to Approve!!!");
                        return;
                    }
                },
                failure: function () {
                    $("#tblItems").append(" Error when fetching data please contact administrator");
                }
            });
        }

    });

</script>

