@{
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}

<head>
    <style>
        .btn {
            padding: 10px 20px;
            font-size: 15px;
            border-radius: 5px;
        }

        tfoot input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }
    </style>
</head>

<h2>Stenter Entry Form</h2>

<div id="MainDiv" class="panel panel-default ">
    <ul id="MainContextMenu" class="dropdown-menu" role="menu" style="display:none">
        <li><a tabindex="-1" href="#">Delete</a></li>
        <li><a tabindex="-1" href="#">Approve</a></li>
    </ul>

    <div class="modal fade" id="modalSoftener" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">Add Softener</div>
                                <div class="panel-body">
                                    <form id="SoftenerForm">
                                        <div class=" form-group">
                                            <div class="form-group col-xs-12 form-inline">
                                                <label for="SoftenerMD" class="control-label" style="width:35%;">Dyeing Unit</label>
                                                <div style="display: inline;">
                                                    <input type="text" class=" form-control" style="width:60%;" id="SoftenerMD" placeholder="Softener" required autofocus>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" form-group">
                                            <div class="form-group col-xs-12 form-inline">
                                                <button class="btn btn-warning btn-sm" style="width:30%;" disabled id="editSoftenerBtn">Update</button>
                                                <button class="btn btn-danger btn-sm" style="width:30%;" disabled id="deleteSoftenerBtn">Delete</button>
                                                <div style="display: inline;">
                                                    <button type="submit" id="saveSoftenerBtn" class="btn btn-primary btn-sm" style="width:30%;">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <table id="SoftenerTable" class="stripe hover order-column" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Id</th>
                                        <th>Softener</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" id="resetSoftenerBtn" class="btn btn-info">Reset</button>
                    <button type="submit" id="okaySoftenerBtn" class="btn btn-success">Okay</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalDyeingSelection" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Select Dyeing</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">Searching Criteria</div>
                                <div class="panel-body">
                                    <div class=" form-group">
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="BarCodeSL" class="control-label" style="width:35%;">BarCode</label>
                                            <div style="display: inline;">
                                                <input type="text" class="typeahead form-control" style="width:60%;" id="BarCodeSL" placeholder="Bar Code" autofocus>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="BuyerSL" class="control-label" style="width:35%;">Buyer</label>
                                            <div style=" display: inline;">
                                                <select name="BuyerSL" id="BuyerSL" style="width:60%;" class="form-control input-sm" required autofocus></select>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="FabricSL" class="control-label" style="width:35%;">Fabric</label>
                                            <div style="display: inline;">
                                                <select name="FabricSL" id="FabricSL" style="width:60%;" class="form-control" autofocus></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" form-group">
                                        <div class="form-group col-xs-4 form-inline ">
                                            <label for="OrderNoSL" class="control-label" style="width:35%;">Order No</label>
                                            <div style="display: inline;">
                                                <input type="text" class="typeahead form-control" style="width:60%;" id="OrderNoSL" placeholder="Order No" autofocus>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="ColorSL" class="control-label" style="width:35%;">Color</label>
                                            <div style="display: inline;">
                                                <input type="text" class="typeahead form-control" style="width:60%;" id="ColorSL" placeholder="Color" autofocus>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="ChallanSL" class="control-label" style="width:35%;">Challan No</label>
                                            <div style="display: inline;">
                                                <input type="text" class="typeahead form-control" style="width:60%;" id="ChallanSL" placeholder="Challan No" autofocus>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" form-group">
                                        <div class="form-group col-xs-4 form-inline">
                                            <input type="checkbox" id="DeliveryDateCheckBox" style="width:5%;">
                                            <label for="DeliveryDateSL" class="control-label" style="width:30%;">Delivery Date</label>
                                            <div class='input-group date' id='DeliveryDateSL' style="width:60%;">
                                                <input type='text' class="form-control" id="DeliveryDateTextSL" disabled placeholder="Delivey Date" autofocus />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 form-inline">
                                            <input type="checkbox" id="FabricOrderDateCheckBox" style="width:5%;">
                                            <label for="FabricOrderDateSL" class="control-label" style="width:30%;">Fabric Order Date</label>
                                            <div class='input-group date' id='FabricOrderDateSL' style="width:60%;">
                                                <input type='text' class="form-control" id="FabricOrderDateTextSL" disabled placeholder="Fabric Order Date" autofocus />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 form-inline">
                                            <input type="checkbox" id="KnitOrderDateCheckBox" style="width:5%;">
                                            <label for="KnitOrderDateSL" class="control-label" style="width:30%;">Knit Order Date</label>
                                            <div class='input-group date' id='KnitOrderDateSL' style="width:60%;">
                                                <input type='text' class="form-control" id="KnitOrderDateTextSL" disabled placeholder="Knit Order Date" autofocus />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" form-group">
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="DiaGaugeSL" class="control-label" style="width:35%;">Dia-Guage</label>
                                            <div style="display: inline;">
                                                <select name="DiaGaugeSL" id="DiaGaugeSL" style="width:60%;" class="form-control input-sm" autofocus></select>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="YarnCountSL" class="control-label" style="width:35%;">Yarn Count</label>
                                            <div style="display: inline;">
                                                <select name="YarnCountSL" id="YarnCountSL" style="width:60%;" class="form-control input-sm" autofocus></select>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="YarnBrandSL" class="control-label" style="width:35%;">Yarn Brand</label>
                                            <div style="display: inline;">
                                                <input type="text" class="typeahead form-control input-sm" style="width:60%;" id="YarnBrandSL" placeholder="Yarn Brand" autofocus>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" form-group">
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="YarnLotSL" class="control-label" style="width:35%;">Yarn Lot</label>
                                            <div style="display: inline;">
                                                <input type="text" class="typeahead form-control" style="width:60%;" id="YarnLotSL" name="YarnLotSL" placeholder="Yarn Lot">
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="GreyWidthSL" class="control-label" style="width:35%;">Grey Width</label>
                                            <div style="display: inline;">
                                                <input type="number" class="form-control" style="width:60%;" id="GreyWidthSL" min="0" step="1" data-bind="value:GreyWidth" placeholder="Grey Width" autofocus>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="GreyGSMSL" class="control-label" style="width:35%;">Grey GSM</label>
                                            <div style="display: inline;">
                                                <input type="number" class="form-control" style="width:60%;" id="GreyGSMSL" min="0" step="1" data-bind="value:GreyGSM" placeholder="Grey GSM" autofocus>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" form-group">
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="KnitUnitSL" class="control-label" style="width:35%;">Knit Unit</label>
                                            <div style="display: inline;">
                                                <select name="KnitUnitSL" id="KnitUnitSL" style="width:60%;" class="form-control" autofocus></select>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="BrandSL" class="control-label" style="width:35%;">MC Brand</label>
                                            <div style="display: inline;">
                                                <select name="BrandSL" id="BrandSL" style="width:60%;" class="form-control input-sm" autofocus></select>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="DyeingUnitSL" class="control-label" style="width:35%;">DyeingUnit</label>
                                            <div style="display: inline;">
                                                <select name="DyeingUnitSL" id="DyeingUnitSL" style="width:60%;" class="form-control input-sm" autofocus></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" form-group">
                                        <div class="form-group col-xs-4 form-inline">
                                            <label for="BatchNoSL" class="control-label" style="width:35%;">Batch No</label>
                                            <div style="display: inline;">
                                                <select name="BatchNoSL" id="BatchNoSL" style="width:60%;" class="form-control input-sm" autofocus></select>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 form-inline">
                                            <button class="btn btn-warning btn-sm" style="width:35%;" id="resetDyeingBtn">Reset</button>
                                            <div style="display: inline;">
                                                <button type="submit" id="searchDyeingBtn" class="btn btn-primary btn-sm" style="width:60%;">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table id="DyeingSelectionTable" class="stripe hover order-column" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Id</th>
                                        <th>DyeingID</th>
                                        <th>DyeingUnitID</th>
                                        <th>BarCode</th>
                                        <th>Buyer Name</th>
                                        <th>Fabric Type</th>
                                        <th>Order No</th>
                                        <th>Color</th>
                                        <th>Dia Guage</th>
                                        <th>Yarn Count</th>
                                        <th>Yarn Brand</th>
                                        <th>Yarn Lot</th>
                                        <th>Knit Unit</th>
                                        <th>Grey Width</th>
                                        <th>Grey GSM</th>
                                        <th>Mc Brand</th>
                                        <th>Dyeing Unit</th>
                                        <th>Batch No</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" id="okayBtn" class="btn btn-success">Okay</button>
                </div>
            </div>
        </div>
    </div>

    <div class="text-left">
        <button href="" id="DyeingSelection" class="btn-info sm-4" data-toggle="modal" data-target="#modalDyeingSelection">
            Select Dyeing
        </button>
    </div>

    <input type="checkbox" id="hidden" value="option1" style="display:none;">

    <div class="panel panel-default ">
        <div class="panel-heading">
            <h5 class="panel-title"><i class="icon-stack-plus position-left"></i>Create Dyeing Order</h5>
        </div>
        <div class="panel-body">
            <form id="StenterForm">
                <div class=" form-group">
                    <div class="form-group col-xs-4 form-inline">
                        <label for="BarCode" class="control-label" style="width:35%;">BarCode</label>
                        <div style=" display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="BarCode" readonly>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="OrderNo" class="control-label" style="width:35%;">Order No</label>
                        <div style="display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="OrderNo" readonly>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="Color" class="control-label" style="width:35%;">Color</label>
                        <div style="display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="Color" readonly>
                        </div>
                    </div>
                </div>
                <div class=" form-group">
                    <div class="form-group col-xs-4 form-inline">
                        <label for="FabricName" class="control-label" style="width:35%;">Fabric Type</label>
                        <div style=" display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="FabricName" readonly>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="BuyerName" class="control-label" style="width:35%;">Buyer Name</label>
                        <div style=" display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="BuyerName" readonly>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="DiaGauge" class="control-label" style="width:35%;">MC Dia-Guage</label>
                        <div style="display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="DiaGauge" readonly>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group col-xs-4 form-inline">
                        <label for="YarnCount" class="control-label" style="width:35%;">Yarn Count</label>
                        <div style="display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="YarnCount" readonly>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="YarnBrand" class="control-label" style="width:35%;">Yarn Brand</label>
                        <div style="display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="YarnBrand" autofocus readonly>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="Yarn Lot" class="control-label" style="width:35%;">Yarn Lot</label>
                        <div style="display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="YarnLot" name="YarnLot" autofocus readonly>
                        </div>
                    </div>
                </div>
                <div class=" form-group">
                    <div class="form-group col-xs-4 form-inline">
                        <label for="KnitUnit" class="control-label" style="width:35%;">Knit Unit</label>
                        <div style="display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="KnitUnit" autofocus readonly>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="Brand" class="control-label" style="width:35%;">MC Brand</label>
                        <div style="display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="Brand" autofocus readonly>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="GreyWidth" class="control-label" style="width:35%;">Grey Width</label>
                        <div style="display: inline;">
                            <input type="number" class="form-control" style="width:60%;" id="GreyWidth" min="0" step="1" autofocus readonly>
                        </div>
                    </div>
                </div>
                <div class=" form-group">
                    <div class="form-group col-xs-4 form-inline">
                        <label for="GreyGSM" class="control-label" style="width:35%;">Grey GSM</label>
                        <div style="display: inline;">
                            <input type="number" class="form-control" style="width:60%;" id="GreyGSM" min="0" step="1" data-bind="value:GreyGSM" placeholder="Grey GSM" autofocus readonly>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="DyeingUnit" class="control-label" style="width:35%;">Dyeing Unit</label>
                        <div style="display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="DyeingUnit" autofocus readonly>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="BatchNo" class="control-label" style="width:35%;">Batch No</label>
                        <div style="display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="BatchNo" placeholder="Batch No" autofocus>
                        </div>
                    </div>
                </div>
                <div class=" form-group">
                    <div class="form-group col-xs-4 form-inline">
                        <label for="WidthSet" class="control-label" style="width:35%;">Width Set</label>
                        <div style="display: inline;">
                            <input type="number" class="form-control" style="width:60%;" id="WidthSet" min="0" step="1" data-bind="value:WidthSet" placeholder="Width Set" required autofocus>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="OverFeed" class="control-label" style="width:35%;">OverFeed</label>
                        <div style="display: inline;">
                            <input type="number" class="form-control" style="width:60%;" id="OverFeed" min="0" step="1" data-bind="value:Serial" placeholder="OverFeed%" required autofocus>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="Temp" class="control-label" style="width:35%;">Temp</label>
                        <div style="display: inline;">
                            <input type="number" class="form-control" style="width:60%;" id="Temp" min="0" step="1" data-bind="value:Temp" placeholder="Temp Degree Celsius" required autofocus>
                        </div>
                    </div>
                </div>
                <div class=" form-group">
                    <div class="form-group col-xs-4 form-inline">
                        <label for="Speed" class="control-label" style="width:35%;">Speed</label>
                        <div style="display: inline;">
                            <input type="number" class="form-control" style="width:60%;" id="Speed" min="0" step="1" data-bind="value:Speed" placeholder="Speed(RPM)" required autofocus>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="Peder" class="control-label" style="width:35%;">Peder(1st&2nd)</label>
                        <div style="display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="Peder" placeholder="Peder Pressure 1st & 2nd" required autofocus>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="Blower" class="control-label" style="width:35%;">Blower</label>
                        <div style="display: inline;">
                            <input type="number" class="form-control" style="width:60%;" id="Blower" min="0" step="1" data-bind="value:Blower" placeholder="Blower" required autofocus>
                        </div>
                    </div>
                </div>
                <div class=" form-group">
                    <div class="form-group col-xs-4 form-inline">
                        <label for="SoftenerName" class="control-label" style="width:35%;">Softener Name</label>
                        <div style="display: inline;">
                            <input type="number" class="form-control" style="width:60%;" id="SoftenerName" min="0" step="1" data-bind="value:SoftenerName" placeholder="Softener Name" required autofocus>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="SoftenerGL" class="control-label" style="width:35%;">Softener G/L</label>
                        <div style="display: inline;">
                            <input type="text" class="form-control" style="width:60%;" id="SoftenerGL" placeholder="Softener G/L" required autofocus>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <label for="DIA" class="control-label" style="width:35%;">DIA</label>
                        <div style="display: inline;">
                            <input type="number" class="form-control" style="width:60%;" id="DIA" min="0" step="1" data-bind="value:DIA" placeholder="DIA" required autofocus>
                        </div>
                    </div>
                </div>
                <div class=" form-group">
                    <div class="form-group col-xs-4 form-inline">
                        <label for="GSM" class="control-label" style="width:35%;">GSM</label>
                        <div style="display: inline;">
                            <input type="number" class="form-control" style="width:60%;" id="GSM" min="0" step="1" data-bind="value:GSM" placeholder="GSM" required autofocus>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 form-inline">
                        <button class="btn btn-warning btn-sm" style="width:25%;" id="resetBtn">Reset</button>
                        <div style="display: inline;">
                            <input type="submit" value="Save" class="btn btn-success btn-sm" style="width:22%;" id="saveBtn">
                        </div>
                        <div style="display: inline;">
                            <input type="submit" value="Revise" class="btn btn-info btn-sm" disabled="disabled" style="width:23%;" id="reviseBtn">
                        </div>
                        <div style="display: inline;">
                            <input type="submit" value="Update" class="btn btn-primary btn-sm" disabled="disabled" style="width:23%;" id="updateBtn">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <table id="StenterTable" class="stripe hover order-column " style="width: 1000px;">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>DyeingID</th>
                <th>SoftenerID</th>
                <th>BarCode</th>
                <th>Buyer Name</th>
                <th>Fabric Type</th>
                <th>Order No</th>
                <th>Color</th>
                <th>Dia Guage</th>
                <th>Yarn Count</th>
                <th>Yarn Brand</th>
                <th>Yarn Lot</th>
                <th>Knit Unit</th>
                <th>Grey Width</th>
                <th>Grey GSM</th>
                <th>Mc Brand</th>
                <th>Dyeing Unit</th>
                <th>Batch No</th>
                <th>WidthSet</th>
                <th>OverFeed</th>
                <th>Temparature</th>
                <th>Speed</th>
                <th>Peder</th>
                <th>Blower</th>
                <th>SoftenerName</th>
                <th>SoftenerGL</th>
                <th>DIA</th>
                <th>GSM/th>
                <th>Revise</th>
                <th>Create Time</th>
                <th>Create By</th>
                <th>Update Time</th>
                <th>Update By</th>
                <th>Approved Time</th>
                <th>Approved By</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th style="visibility:hidden;"></th>
                <th></th>
                <th></th>
                <th></th>
                <th>BarCode</th>
                <th>Buyer Name</th>
                <th>Fabric Type</th>
                <th>Order No</th>
                <th>Color</th>
                <th>Dia Guage</th>
                <th>Yarn Count</th>
                <th>Yarn Brand</th>
                <th>Yarn Lot</th>
                <th>Knit Unit</th>
                <th>Grey Width</th>
                <th>Grey GSM</th>
                <th>Mc Brand</th>
                <th>Dyeing Unit</th>
                <th>Batch No</th>
                <th>WidthSet</th>
                <th>OverFeed</th>
                <th>Temparature</th>
                <th>Speed</th>
                <th>Peder</th>
                <th>Blower</th>
                <th>SoftenerName</th>
                <th>SoftenerGL</th>
                <th>DIA</th>
                <th>GSM/th>
                <th>Revise</th>
                <th>Create Time</th>
                <th>Create By</th>
                <th>Update Time</th>
                <th>Update By</th>
                <th>Approved Time</th>
                <th>Approved By</th>
            </tr>
        </tfoot>
    </table>

</div>

<script>

    $(document).ready(function () {

        var DyeingSelectionTable = $('#DyeingSelectionTable').DataTable();
        var SoftenerTable = $('#SoftenerTable').DataTable();

        $('#DeliveryDateSL, #FabricOrderDateSL, #KnitOrderDateSL').datetimepicker({
            defaultDate: new Date(),
            format: 'DD/MM/YYYY'
        });

        $('#modalSoftener').on('shown.bs.modal', function () {
            SoftenerTable.columns.adjust();
        });

        var StenterTable = $('#StenterTable').DataTable({
            "ajax":
            {
                "url": "/Stenter/GetData",
                "type": "GET",
                "dataType": "JSON"
            },
            "autowidth": false,
            "scrollY": true,
            "scrollX": true,
            "Sorting": true,
            "searching": true,
            "destroy": true,
            "select": {
                style: 'single'
            },
            "columnDefs": [
                {
                    "targets": [0],
                    "searchable": false,
                    "orderable": false,
                },
                {
                    "targets": [1, 2, 3],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": "_all",
                    "width": "100px"
                }

            ],

            "columns": [
                {
                    "searchable": false,
                    "render": function (data, type, full, meta) {
                        return StenterTable.data().count();
                    }
                },
                { "data": "Id" },
                { "data": "DyeingID" },
                { "data": "SoftenerID" },
                { "data": "BarCode" },
                { "data": "BuyerName" },
                { "data": "FabricName" },
                { "data": "OrderNo" },
                { "data": "Color" },
                { "data": "McDiaGauge" },
                { "data": "YarnCount" },
                { "data": "YarnBrand" },
                { "data": "YarnLot" },
                { "data": "KnitUnit" },
                { "data": "GreyWidth" },
                { "data": "GreyGSM" },
                { "data": "McBrand" },
                { "data": "DyeingUnit" },
                { "data": "BatchNo" },

                { "data": "WidthSet" },
                { "data": "OverFeed" },
                { "data": "Temparature" },
                { "data": "Speed" },
                { "data": "Peder" },
                { "data": "Blower" },
                { "data": "SoftenerName" },
                { "data": "SoftenerGL" },
                { "data": "DIA" },
                { "data": "GSM" },

                { "data": "ReviseStatus" },
                {
                    data: "CreateTime",
                    render: function (data, type, row) {
                        return moment(data).format("DD/MM/YYYY h:mm a");
                    }
                },
                { "data": "CreateByName" },
                {
                    data: "UpdateTime",
                    render: function (data, type, row) {
                        if (data != null)
                            return moment(data).format("DD/MM/YYYY h:mm a");
                        else
                            return "N/A"
                    }
                },
                {
                    "data": "UpdateByName",
                    render: function (data, type, row) {
                        if (data != "")
                            return data;
                        else
                            return "N/A"
                    }
                },
                {
                    data: "ApprovedTime",
                    render: function (data, type, row) {
                        if (data != null)
                            return moment(data).format("DD/MM/YYYY h:mm a");
                        else
                            return "N/A"
                    }
                },
                {
                    "data": "ApprovedByName",
                    render: function (data, type, row) {
                        if (data != "")
                            return data;
                        else
                            return "N/A"
                    }
                }
            ]
        });

    });

</script>

