@model TextileResearchDevelopment.Models.Fabric
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>

    <style>
        .btn {
            padding: 10px 20px;
            font-size: 15px;
            border-radius: 5px;
        }

        tfoot input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }

        /*.modal-body .form-horizontal .col-sm-2,
        .modal-body .form-horizontal .col-sm-10 {
            width: 100%
        }

        .modal-body .form-horizontal .control-label {
            text-align: left;
        }

        .modal-body .form-horizontal .col-sm-offset-2 {
            margin-left: 15px;
        }*/
    </style>

</head>

<h2>Fabric Entry Form</h2>

@Html.AntiForgeryToken()
<hr />
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<form >
    <div class="panel panel-default ">
        <div class="panel-heading">
            <h5 class="panel-title"><i class="icon-stack-plus position-left"></i>Create Fabric Order</h5>
        </div>
        <div class="panel-body">
            <div class=" form-group">
                <div class="form-group col-xs-4 form-inline">
                    <label for="BuyerName" class="control-label" style="width:35%;">Buyer Name</label>
                    <div style=" display: inline;">
                        <select name="BuyerName" id="BuyerName" style="width:50%;" class="form-control input-sm" required autofocus></select>
                        <a href="#" class="btn-sm btn-info" style="width:10%;display:inline" data-toggle="modal" data-target="#myModalHorizontal">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                        <!-- Modal -->
                        <div class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <button type="button" class="close"
                                                data-dismiss="modal">
                                            <span aria-hidden="true">&times;</span>
                                            <span class="sr-only">Close</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            Modal title
                                        </h4>
                                    </div>

                                    <!-- Modal Body -->
                                    <div class="modal-body">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label"
                                                       for="inputEmail3">Email</label>
                                                <div class="col-sm-10">
                                                    <input type="email" class="form-control"
                                                           id="inputEmail3" placeholder="Email" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label"
                                                       for="inputPassword3">Password</label>
                                                <div class="col-sm-10">
                                                    <input type="password" class="form-control"
                                                           id="inputPassword3" placeholder="Password" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-offset-2 col-sm-10">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" /> Remember me
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-offset-2 col-sm-10">
                                                    <button type="submit" class="btn btn-default">Sign in</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <!-- Modal Footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default"
                                                data-dismiss="modal">
                                            Close
                                        </button>
                                        <button type="button" class="btn btn-primary">
                                            Save changes
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-xs-4 form-inline">
                    <label for="FabricType" class="control-label" style="width:35%;">Sample Type</label>
                    <div style="display: inline;">
                        <select name="sampleType" id="sampleType" style="width:50%;" class="form-control input-sm" required autofocus></select>
                        <a href="#" class="btn-sm btn-info" style="width:10%;">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                </div>
                <div class="form-group col-xs-4 form-inline">
                    <label for="OrderNo" class="control-label" style="width:35%;">Order No</label>
                    <div style="display: inline;">
                        <input type="text" class="form-control" id="OrderNo" style="width:60%;" placeholder="Order No" required autofocus>
                    </div>
                </div>
            </div>
            <div class=" form-group">
                <div class="form-group col-xs-4 form-inline">
                    <label for="Color" class="control-label" style="width:35%;">Color</label>
                    <div style="display: inline;">
                        <input type="text" class="form-control" style="width:60%;" id="Color" placeholder="Color" required autofocus>
                    </div>
                </div>
                <div class="form-group col-xs-4 form-inline">
                    <label for="Note" class="control-label" style="width:35%;">Sp Note</label>
                    <div style="display: inline;">
                        <input type="text" class="form-control" style="width:60%;" id="Note" placeholder="Sp Note">
                    </div>
                </div>
                <div class="form-group col-xs-4 form-inline">
                    <label for="Width" class="control-label" style="width:35%;">Required Width</label>
                    <div style="display: inline;">
                        <input type="text" class="form-control" style="width:60%;" id="Width" placeholder="Required Width" required autofocus>
                    </div>
                </div>
            </div>
            <div class=" form-group">
                <div class="form-group col-xs-4 form-inline">
                    <label for="GSM" class="control-label" style="width:35%;">Required GSM</label>
                    <div style="display: inline;">
                        <input type="number" class="form-control" style="width:60%;" id="GSM" min="0" step="1" data-bind="value:GSM" placeholder="Required GSM" required autofocus>
                    </div>
                </div>
                <div class="form-group col-xs-4 form-inline">
                    <label for="Status" class="control-label" style="width:35%;">LabDip Status</label>
                    <div style="display: inline;">
                        <input type="text" class="form-control" style="width:60%;" id="Status" placeholder="LabDip Status" required autofocus>
                    </div>
                </div>
                <div class="form-group col-xs-4 form-inline">
                    <label for="ChallanNo" class="control-label" style="width:35%;">Challan No</label>
                    <div style="display: inline;">
                        <input type="text" class="form-control" style="width:60%;" id="ChallanNo" placeholder="Challan No" required autofocus>
                    </div>
                </div>
            </div>
            <div class=" form-group">
                <div class="form-group col-xs-4 form-inline">
                    <label for="DeliveryQty" class="control-label" style="width:35%;">Delivery Quatity</label>
                    <div style="display: inline;">
                        <input type="number" class="form-control" style="width:60%;" id="DeliveryQty" min="0" step="1" data-bind="value:DeliveryQty" placeholder="Delivery Quatity" required autofocus>
                    </div>
                </div>
                <div class="form-group col-xs-4 form-inline">
                    <label for="DeliveryDate" class="control-label" style="width:35%;">Delivery Date</label>
                    <div class='input-group date' id='DeliveryDate' style="width:60%;">
                        <input type='text' class="form-control" id="DeliveryDateText" placeholder="Delivey Date" required autofocus />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group col-xs-4 form-inline">
                    <button class="btn btn-warning btn-sm" style="width:35%;" id="resetBtn">Reset</button>
                    <div style="display: inline;">
                        <button type="submit" id="saveBtn" class="btn btn-primary btn-sm" style="width:60%;">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="valid-tooltip">Good! Your email address looks valid.</div>*@
    <table id="fabricTable" class="stripe hover order-column" style="width: 100%">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>BuyerID</th>
                <th>FabricTypeID</th>
                <th>BuyerName</th>
                <th>FabricType</th>
                <th>OrderNo</th>
                <th>Color</th>
                <th>Note</th>
                <th>Width</th>
                <th>GSM</th>
                <th>Status</th>
                <th>ChallanNo</th>
                <th>DeliveryQty</th>
                <th>DeliveryDate</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th>Id</th>
                <th>BuyerID</th>
                <th>FabricTypeID</th>
                <th>BuyerName</th>
                <th>FabricType</th>
                <th>OrderNo</th>
                <th>Color</th>
                <th>Note</th>
                <th>Width</th>
                <th>GSM</th>
                <th>Status</th>
                <th>ChallanNo</th>
                <th>DeliveryQty</th>
                <th>DeliveryDate</th>
            </tr>
        </tfoot>
    </table>
</form>



<script>

    $(document).ready(function () {

        loadBuyerList();

        function loadBuyerList() {
            $.ajax({
                type: "GET",
                url: "/Fabric/GetBuyerList",
                data: "{}",
                success: function (data) {
                    var s = '<option value="0">Please Buyer</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].Id + '">' + data[i].BuyerName + '</option>';
                    }
                    $("#BuyerName").html(s);
                    loadFabricTypeList();
                }
            });
        }

        function loadFabricTypeList() {
            $.ajax({
                type: "GET",
                url: "/Fabric/GetFabricTypeList",
                data: "{}",
                success: function (data)
                {
                    var s = '<option value="0">Please Sample Type</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].Id + '">' + data[i].FabricTypeName + '</option>';
                    }
                    $("#sampleType").html(s);
                }
            });
        }

        $('#DeliveryDate').datetimepicker({
            defaultDate: new Date(),
            format: 'DD/MM/YYYY'
        });

        // Setup - add a text input to each footer cell
        $('#fabricTable tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Search" />');
        });

        // DataTable
        var table = $('#fabricTable').DataTable({
            "ajax":
            {
                "url": "/Fabric/GetData",
                "type": "GET",
                "dataType": "JSON"
            },
            "scrollY": true,
            "scrollX": true,
            "Sorting": true,
            "searching": true,

            "columnDefs": [
                {
                    "searchable": false,
                    "orderable": false,
                    "targets": [0]
                },
                {
                    "targets": [1, 2, 3],
                    "visible": false,
                    "searchable": false
                }
            ],

            "columns": [
                {
                    "render": function (data, type, full, meta) {
                        return table.data().count();
                    }
                },
                {
                    "data": "Id"
                },
                {
                    "data": "BuyerID"
                },
                {
                    "data": "FabricTypeID"
                },
                { "data": "BuyerName" },
                { "data": "FabricType" },
                { "data": "OrderNo" },
                { "data": "Color" },
                { "data": "Note" },
                { "data": "Width" },
                { "data": "GSM" },
                { "data": "Status" },
                { "data": "ChallanNo" },
                { "data": "DeliveryQty" },
                {
                    data: "DeliveryDate",
                    render: function (data, type, row) {
                        return moment(data).format("DD/MM/YYYY");
                    }
                }
            ]
        });

        $('#fabricTable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                var rowdata = table.row(this).data();
                Setvalue(rowdata);
            }
        });

        // Apply the search
        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that.search(this.value).draw();
                }
            });
        });

        $('#saveBtn').on('click', function (event) {
            event.preventDefault();
            var fabricObj = {
                Id: '0',
                BuyerID: $("#BuyerName").val(),
                FabricTypeID: $("#sampleType").val(),
                BuyerName: $("#BuyerName  option:selected").text(),
                FabricType: $("#sampleType  option:selected").text(),
                OrderNo: $("#OrderNo").val(),
                Color: $("#Color").val(),
                Note: $("#Note").val(),
                Width: $("#Width").val(),
                GSM: $("#GSM").val(),
                Status: $("#Status").val(),
                ChallanNo: $("#ChallanNo").val(),
                DeliveryQty: $("#DeliveryQty").val(),
                DeliveryDate: $("#DeliveryDateText").val().toString()
            };

            $.ajax({
                type: "POST",
                url: "/Fabric/Create",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(fabricObj),
                success: function (response) {
                    if (response.data != "" && response.data != null) {
                        table.row.add(response.data);
                        table.draw();
                        Reset();
                    }
                    else {
                        alert("Failed to Save! Please Check Connection State!!!");
                        return;
                    }
                },
                failure: function () {
                    $("#tblItems").append(" Error when fetching data please contact administrator");
                }
            });
        });

        function Setvalue(rowdata) {
            $("#BuyerName").val(rowdata.BuyerID);
            $("#sampleType").val(rowdata.FabricTypeID);
            $("#OrderNo").val(rowdata.OrderNo);
            $("#Color").val(rowdata.Color);
            $("#Note").val(rowdata.Note);
            $("#Width").val(rowdata.Width);
            $("#GSM").val(rowdata.GSM);
            $("#Status").val(rowdata.Status);
            $("#ChallanNo").val(rowdata.ChallanNo);
            $("#DeliveryQty").val(rowdata.DeliveryQty);
            $("#DeliveryDateText").val(moment(rowdata.DeliveryDate).format("DD/MM/YYYY"));
        }

        $("#resetBtn").click(function () {
            Reset();
        });

        function Reset() {
            $("#BuyerName").val("");
            $("#sampleType").val("");
            $("#OrderNo").val("");
            $("#Color").val("");
            $("#Note").val("");
            $("#Width").val("");
            $("#GSM").val("");
            $("#Status").val("");
            $("#ChallanNo").val("");
            $("#DeliveryQty").val("");
            $("#DeliveryDateText").val("");
        }

    });
</script>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
