@model TextileResearchDevelopment.Models.Fabric
@*@{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@

<h2>Fabric Entry Form</h2>
<h4 id="id1" style="color:purple"></h4>

@Html.AntiForgeryToken()
<hr />
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="form-group">

</div>

<div class="container">
    <form class=" form-group form-inline">
        <div class="form-group">
            <label for="exampleInputName2" class="control-label col-md-2">Name</label>
            <div class="col-md-2">
                <input type="text" class="form-control col-md-2" id="exampleInputEmail2" placeholder="jane.doe@example.com">
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2" class="control-label col-md-2">Email</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2" class="control-label col-md-2">Email</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
            </div>
        </div>
    </form>
    <form class=" form-group form-inline">
        <div class="form-group">
            <label for="exampleInputName2" class="control-label col-md-2">Name</label>
            <div class="col-md-2">
                <input type="text" class="form-control col-md-2" id="exampleInputEmail2" placeholder="jane.doe@example.com">
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2" class="control-label col-md-2">Email</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2" class="control-label col-md-2">Email</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
            </div>
        </div>
    </form>
    <form class=" form-group form-inline">
        <div class="form-group">
            <label for="exampleInputName2" class="control-label col-md-2">Name</label>
            <div class="col-md-2">
                <input type="text" class="form-control col-md-2" id="exampleInputEmail2" placeholder="jane.doe@example.com">
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2" class="control-label col-md-2">Email</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2" class="control-label col-md-2">Email</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
            </div>
        </div>
    </form>
    <form class=" form-group form-inline">
        <div class="form-group">
            <label for="exampleInputName2" class="control-label col-md-2">Name</label>
            <div class="col-md-2">
                <input type="text" class="form-control col-md-2" id="exampleInputEmail2" placeholder="jane.doe@example.com">
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2" class="control-label col-md-2">Email</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
            </div>
        </div>
    </form>

</div>

<script type="text/javascript">
    function submit() {
        var data = {
            Id: $('#Id').val(),
            Name: $('#Name').val(),
            Addon: $('#Addon').is(':checked')
        };

        $.post("/Fabric/Create", { sm: data }, function () { alert('Successfully Saved!') });
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
