@model TextileResearchDevelopment.Models.Fabric
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>

    <style>
        .btn {
            padding: 10px 20px;
            font-size: 15px;
            border-radius: 5px;
        }

        tfoot input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }
    </style>

</head>

<h2>Fabric Entry Form</h2>

@Html.AntiForgeryToken()
<hr />
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<form class="row">
    <div class="panel panel-default ">
        <div class="panel-heading">
            <h5 class="panel-title"><i class="icon-stack-plus position-left"></i>Create Fabric Order</h5>
        </div>
        <div class="panel-body">
            <div class=" form-group">
                <div class="form-group col-xs-4 form-inline">
                    <label for="BuyerName" class="control-label" style="width:35%;">Buyer Name</label>
                    <div style=" display: inline;">
                        <input type="text" class="form-control" style="width:60%;" id="BuyerName" placeholder="Buyer Name" required autofocus>
                    </div>
                </div>
                <div class="form-group col-xs-4 form-inline">
                    <label for="FabricType" class="control-label" style="width:35%;">Sample Type</label>
                    <div style="display: inline;">
                        <input type="text" class="form-control" style="width:60%;" id="FabricType" placeholder="Sample Type" required autofocus>
                    </div>
                </div>
                <div class="form-group col-xs-4 form-inline">
                    <label for="OrderNo" class="control-label" style="width:35%;">Order No</label>
                    <div style="display: inline;">
                        <input type="text" class="form-control" id="OrderNo" style="width:60%;" placeholder="Order No" required autofocus>
                    </div>
                </div>
            </div>
            <div class=" form-group">
                <div class="form-group col-xs-4 form-inline">
                    <label for="Color" class="control-label" style="width:35%;">Color</label>
                    <div style="display: inline;">
                        <input type="text" class="form-control" style="width:60%;" id="Color" placeholder="Color" required autofocus>
                    </div>
                </div>
                <div class="form-group col-xs-4 form-inline">
                    <label for="Note" class="control-label" style="width:35%;">Sp Note</label>
                    <div style="display: inline;">
                        <input type="text" class="form-control" style="width:60%;" id="Note" placeholder="Sp Note">
                    </div>
                </div>
                <div class="form-group col-xs-4 form-inline">
                    <label for="Width" class="control-label" style="width:35%;">Required Width</label>
                    <div style="display: inline;">
                        <input type="text" class="form-control" style="width:60%;" id="Width" placeholder="Required Width" required autofocus>
                    </div>
                </div>
            </div>
            <div class=" form-group">
                <div class="form-group col-xs-4 form-inline">
                    <label for="GSM" class="control-label" style="width:35%;">Required GSM</label>
                    <div style="display: inline;">
                        <input type="number" class="form-control" style="width:60%;" id="GSM" min="0" step="1" data-bind="value:GSM" placeholder="Required GSM" required autofocus>
                    </div>
                </div>
                <div class="form-group col-xs-4 form-inline">
                    <label for="Status" class="control-label" style="width:35%;">LabDip Status</label>
                    <div style="display: inline;">
                        <input type="text" class="form-control" style="width:60%;" id="Status" placeholder="LabDip Status" required autofocus>
                    </div>
                </div>
                <div class="form-group col-xs-4 form-inline">
                    <label for="ChallanNo" class="control-label" style="width:35%;">Challan No</label>
                    <div style="display: inline;">
                        <input type="text" class="form-control" style="width:60%;" id="ChallanNo" placeholder="Challan No" required autofocus>
                    </div>
                </div>
            </div>
            <div class=" form-group">
                <div class="form-group col-xs-4 form-inline">
                    <label for="DeliveryQty" class="control-label" style="width:35%;">Delivery Quatity</label>
                    <div style="display: inline;">
                        <input type="number" class="form-control" style="width:60%;" id="DeliveryQty" min="0" step="1" data-bind="value:DeliveryQty" placeholder="Delivery Quatity" required autofocus>
                    </div>
                </div>
                <div class="form-group col-xs-4 form-inline">
                    <label for="DeliveryDate" class="control-label" style="width:35%;">Delivery Date</label>
                    <div class='input-group date' id='DeliveryDate' style="width:60%;">
                        <input type='text' class="form-control" id="DeliveryDateText" placeholder="Delivey Date" required autofocus />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group col-xs-4 form-inline">
                    <button type="button" class="btn btn-warning btn-sm" style="width:35%;">Reset</button>
                    <div style="display: inline;">
                        <button type="submit" id="saveBtn" class="btn btn-primary btn-sm" style="width:60%;">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="valid-tooltip">Good! Your email address looks valid.</div>*@
    <table id="fabricTable" class="stripe hover order-column" style="width: 100%">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>BuyerName</th>
                <th>FabricType</th>
                <th>OrderNo</th>
                <th>Color</th>
                <th>Note</th>
                <th>Width</th>
                <th>GSM</th>
                <th>Status</th>
                <th>ChallanNo</th>
                <th>DeliverQty</th>
                <th>DeliveryDate</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th>Id</th>
                <th>BuyerName</th>
                <th>FabricType</th>
                <th>OrderNo</th>
                <th>Color</th>
                <th>Note</th>
                <th>Width</th>
                <th>GSM</th>
                <th>Status</th>
                <th>ChallanNo</th>
                <th>DeliverQty</th>
                <th>DeliveryDate</th>
            </tr>
        </tfoot>
    </table>
</form>



<script>
    var i = 1;
    $(document).ready(function () {

        $('#DeliveryDate').datetimepicker({
            defaultDate: new Date(),
            format: 'DD/MM/YYYY HH:mm'
        });

        // Setup - add a text input to each footer cell
        $('#fabricTable tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Search" />');
        });

        // DataTable
        var table = $('#fabricTable').DataTable({
            "ajax":
            {
                "url": "/Fabric/GetData",
                "type": "GET",
                "dataType": "JSON"
            },
            "scrollY": true,
            "scrollX": true,
            "Sorting": true,
            "searching": true,

            "columnDefs": [
                {
                    "searchable": false,
                    "orderable": false,
                    "targets": [0]
                },
                {
                    "targets": [1],
                    "visible": false,
                    "searchable": false
                }
            ],

            "columns": [
                {
                    "render": function (data, type, full, meta) {
                        return table.data().count();
                    }
                },
                {
                    "data": "Id"
                },
                { "data": "BuyerName" },
                { "data": "FabricType" },
                { "data": "OrderNo" },
                { "data": "Color" },
                { "data": "Note" },
                { "data": "Width" },
                { "data": "GSM" },
                { "data": "Status" },
                { "data": "ChallanNo" },
                { "data": "DeliverQty" },
                {
                    data: "DeliveryDate",
                    render: function (data, type, row) {
                        return moment(data).format("DD/MM/YYYY");
                    }
                }
            ]
        });

        $('#fabricTable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

        // Apply the search
        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });

        $('#saveBtn').on('click', function (event) {
            event.preventDefault();
            var fabricObj = {
                'Id': '0',
                'BuyerName': $("#BuyerName").val(),
                'FabricType': $("#FabricType").val(),
                'OrderNo': $("#OrderNo").val(),
                'Color': $("#Color").val(),
                'Note': $("#Note").val(),
                'Width': $("#Width").val(),
                'GSM': $("#GSM").val(),
                'Status': $("#Status").val(),
                'ChallanNo': $("#ChallanNo").val(),
                'DeliveryQty': $("#DeliveryQty").val(),
                'DeliveryDate': $("#DeliveryDateText").val().toString()
            };

            $.ajax({
                type: "POST",
                url: "/Fabric/Create",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(fabricObj),
                success: function (response) {
                    if (response.data != "" && response.data != null)
                    {
                        table.row.add(response.data);
                        table.draw();
                        Reset();
                    }
                    else
                    {

                    }

                },
                failure: function () {
                    $("#tblItems").append(" Error when fetching data please contact administrator");
                }
            });
        });

        function Reset()
        {
            $("#BuyerName").val("");
            $("#FabricType").val("");
            $("#OrderNo").val("");
            $("#Color").val("");
            $("#Note").val("");
            $("#Width").val("");
            $("#GSM").val("");
            $("#Status").val("");
            $("#ChallanNo").val("");
            $("#DeliveryQty").val("");
            $("#DeliveryDateText").val("");
        }

    });
</script>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
